[2022-03-31 01:28] #2714 closed, assigned to JaredCorduan

[2022-03-31 12:46] JaredCorduan commented on #2476
note that this work is  being done in the consensus repository: https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-03-31 12:46] JaredCorduan commented on #2475
note that this work is  being done in the consensus repository: https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-03-31 12:47] JaredCorduan commented on #2474
note that this work is  being done in the consensus repository: https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-03-31 20:07] #2479 closed, assigned to WhatisRT, JaredCorduan

[2022-04-01 17:57] JaredCorduan opened #2719 "babbageMissingScripts problems"
`babbageMissingScripts` has very strange behavior in the spec, it switches on the major protocol version but is only used in Babbage.

Moreover, the corresponding check in the spec actually needs to follow the `needed ⊆ provided ⊆ allowed` pattern. see #2705.

[2022-04-03 17:19] #2713 closed, assigned to goolord

[2022-04-06 12:43] #2659 closed, assigned to JaredCorduan

[2022-04-06 15:45] JaredCorduan opened #2725 "Collateral Return Outputs need minUTxO check"
We need to validate collateral return outputs just like we check all other outputs. Eg, the minimum UTxO check. We can probably add a new class method to the `ExtendedUTxO` class.

[2022-04-06 15:46] WhatisRT commented on #2725
This is done by b1b7260b09341aac8662698a23578ebd868b8552 in the spec

[2022-04-06 16:06] WhatisRT commented on #2719
Sadly this isn't actually the pattern, since the scripts in the witness set should be nailed down exactly, which this pattern doesn't do. The actual pattern is `provided = needed - referenced`, see UTXOW in https://github.com/input-output-hk/cardano-ledger/pull/2723

[2022-04-09 01:40] #2684 closed, assigned to WhatisRT, JaredCorduan

[2022-04-09 01:40] #2471 closed, assigned to JaredCorduan

[2022-04-11 15:37] Soupstraw commented on #2725
@WhatisRT
* where do we look for scripts?
   * inputs
   * reference inputs
   * script witnesses
   * what about collateral inputs?
 * what about outputs?
   * scripts in auxillary data
 * which scripts are we supposed to validate as well-formed?
 * if we assume that datums are well-formed, because they have
   been successfully deserialized, why bother collecting them
   for these tests?

[2022-04-11 17:09] WhatisRT commented on #2725
We don't look for scripts in collateral inputs, any outputs or auxiliary data for the purpose of running them. For the well-formedness it's easy, any place where a script can appear in the transaction itself (i.e. not via lookup in the UTxO) we need to check. I.e. witnesses, outputs (including collateral) and auxiliary data.
For datums, we may or may not want to move the well-formedness check (len

[2022-04-18 01:27] SebastienGllmt opened #2729 "Handling of broken Alonzo address missing from the spec"
# Background

On August 28th, cardano-node 1.29.0 was released. Shortly after, on Sept 5th, [this transaction](https://cardanoscan.io/transaction/369826b2f60b443d27966d222fa5bedc6b900326b77a09f15473d77f5ef2871c) which contains an [invalid address](https://cardanoscan.io/address/015bad085057ac10ecc7060f7ac41edd6f63068d8963ef7d86ca58669e5ecf2d283418a60be5a848a2380eb721000da1e0bbf39733134beca4) was c

[2022-04-18 14:54] lehins commented on #2729
@SebastienGllmt Thank you for reporting this issue. We are aware of this problem and a fix is on the way very soon!

[2022-04-20 11:50] WhatisRT commented on #2682
If you want to, `coinsPerUTxOWord` can be renamed to `coinPerUTxOByte` and the division by 8 be dropped. But then we need to make sure the parameter is adjusted accordingly at the HF

[2022-04-21 20:54] JaredCorduan opened #2736 "Document the tools for using Annotators"
Document [MemoBytes](https://github.com/input-output-hk/cardano-ledger/blob/master/libs/cardano-data/src/Data/MemoBytes.hs) and its use in [SafeHash](https://github.com/input-output-hk/cardano-ledger/blob/master/libs/cardano-ledger-core/src/Cardano/Ledger/SafeHash.hs).

[2022-04-21 20:56] JaredCorduan opened #2737 "Document the Coders library"
Document the [Coders](https://github.com/input-output-hk/cardano-ledger/blob/master/libs/cardano-data/src/Data/Coders.hs) library.

[2022-04-21 20:57] JaredCorduan opened #2738 "Document the reward calculation and its incremental computation"
Document the reward calculation and its incremental computation (all the parts of the pulser).

[2022-04-21 20:58] JaredCorduan opened #2739 "Document the ledger events"

[2022-04-21 21:00] JaredCorduan opened #2740 "Document ledger core"
Provide context for the [cardano-ledger-core](https://github.com/input-output-hk/cardano-ledger/tree/master/libs/cardano-ledger-core) package, and an overview of what is inside it.

[2022-04-21 21:02] JaredCorduan opened #2741 "Document the era-generic tools"
Document the era-generic tools which we currently use in testing. https://github.com/input-output-hk/cardano-ledger/tree/master/libs/cardano-ledger-test/src/Test/Cardano/Ledger/Generic

[2022-04-21 21:04] JaredCorduan opened #2742 "Move some code from Shelley to Core"
There is a lot of code inside https://github.com/input-output-hk/cardano-ledger/tree/master/eras/shelley/impl which should be moved into https://github.com/input-output-hk/cardano-ledger/tree/master/libs/cardano-ledger-core

[2022-04-21 21:06] JaredCorduan opened #2743 "Review all test suites"
We should review all the test packages, and remove any tests that are no longer needed. Additionally, consider how to reorganize the test suites.

[2022-04-21 21:07] JaredCorduan opened #2744 "Remove reward provenance"
The ledger events are replacing the reward provenance, and hence we should remove reward provenance.

[2022-04-21 21:09] JaredCorduan opened #2745 "remove ranking code"
After we have the new stake pool ranking in place, and once Daedalus is not using any of the old ranking support, we need to remove all remnants of the old ranking. This includes the parts of the ledger state that are used only for ranking.

[2022-04-21 21:09] JaredCorduan opened #2746 "Re-organize the pretty printer code"

[2022-04-21 21:15] JaredCorduan commented on #2688
I'm going to close this ticket, since adding Plutus builtins is the way we want to address. thanks again for letting us know!

[2022-04-21 21:15] #2688 closed, assigned to nobody

[2022-04-21 21:22] JaredCorduan commented on #1673
We should review this ticket and see how much of it is still relevant.

[2022-04-21 21:22] JaredCorduan commented on #2743
See also #1673

[2022-04-21 21:25] JaredCorduan commented on #1600
We can probably close this ticket after [#2745](https://github.com/input-output-hk/cardano-ledger/issues/2745) is complete.

[2022-04-22 13:12] Jimbo4350 opened #2749 "Remove OnePhaseFailure from FailureDescription"
This constructor isn't actually used to render errors so it should be removed

[2022-04-22 13:23] JaredCorduan commented on #2749
thanks @Jimbo4350 ! I should have removed that constructor earlier when I rendered it useless.  backstory is here: https://github.com/input-output-hk/cardano-ledger/pull/2670#discussion_r843345979

[2022-04-26 14:01] JaredCorduan commented on #2749
fixed by 7e37829a0f6bf1e6bf85a5e1b99babd74b701b13

[2022-04-26 14:01] #2749 closed, assigned to JaredCorduan

[2022-04-26 17:39] JaredCorduan opened #2754 "good Haddocks for all predicate failures"

[2022-04-27 12:40] SmaugPool opened #2756 "nativeMultiSigTag does not seem described in specifications"
Native scripts hashes (policy ids) use a tag as described in https://github.com/input-output-hk/cardano-ledger/issues/1193.

This tag is set to 0 according to [nativeMultiSigTag](https://github.com/input-output-hk/cardano-ledger/blob/736c9295f5896de28fbcedc6a8fc4d509fb78d10/shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Scripts.hs#L61-L65) and [hashMultiSigScript](https://github.

[2022-04-27 20:58] #2729 closed, assigned to lehins

[2022-04-27 21:10] JaredCorduan commented on #2756
great question @SmaugPool . There is no mention of this tag in the CDDL specification since it never actually show up on the wire, it's just used to create the script hash.

If the CDDL spec is where people think to look to find the tag, though, we could add a comment explaining which tag goes with which script type for the purpose of hashing. Or perhaps it could be in an appendix in the formal sp

[2022-04-29 15:50] JaredCorduan commented on #2682
resolved by #2733 (except for the renaming `coinsPerUTxOWord` -> `coinPerUTxOByte`

[2022-04-29 15:50] #2682 closed, assigned to JaredCorduan

[2022-04-29 15:50] JaredCorduan commented on #2719
resolved by #2733

[2022-04-29 15:50] #2719 closed, assigned to Soupstraw

[2022-04-29 15:50] JaredCorduan commented on #2725
resolved by #2733

[2022-04-29 15:50] #2725 closed, assigned to TimSheard, Soupstraw

[2022-04-29 15:53] JaredCorduan commented on #2472
Resolved by #2698 and #2758

[2022-04-29 15:53] #2472 closed, assigned to TimSheard

[2022-04-30 09:22] SebastienGllmt commented on #2729
Just FYI there appears to be 4 addresses on mainnet affected by this

| address                                                                                                                                  | extra bytes                                                                                                                         |
|------------------------------------------------------

[2022-05-02 15:58] alessandrokonrad opened #2765 "Min ada requirement - Babbage"
I'm trying to undertand the min ada calculation for a utxo in Babbage.
According to the specs it's:  `(serializedSize of output * coinsPerUTxOWord + 7) / 8`

I see the fomula being used here to validate utxos: https://github.com/input-output-hk/cardano-ledger/blob/88c0fe663720c5ef40f6fd00b9d331de81a6a7cb/eras/babbage/impl/src/Cardano/Ledger/Babbage/Rules/Utxo.hs#L268

However a few lines above, wh

[2022-05-02 17:58] JaredCorduan commented on #2765
at first glance, that does look like a bug. thank you for raising this @alessandrokonrad !

[2022-05-03 15:27] #2765 closed, assigned to JaredCorduan

[2022-05-05 18:04] JaredCorduan commented on #2476
closed by https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-05-05 18:04] #2476 closed, assigned to nc6

[2022-05-05 18:04] JaredCorduan commented on #2475
closed by https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-05-05 18:04] #2475 closed, assigned to nc6

[2022-05-05 18:04] JaredCorduan commented on #2474
closed by https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-05-05 18:04] #2474 closed, assigned to nc6

[2022-05-05 19:45] JaredCorduan commented on #2686
closed by https://github.com/input-output-hk/ouroboros-network/pull/3595

[2022-05-05 19:45] #2686 closed, assigned to nc6

[2022-05-10 11:50] L-as opened #2774 "`compact-map` already exists on Hackage"
https://hackage.haskell.org/package/compact-map

Found while doing stuff on https://github.com/input-output-hk/haskell.nix/issues/1349

[2022-05-11 09:04] #2739 closed, assigned to nobody

[2022-05-11 13:08] KtorZ opened #2779 "Vasil protocol parameters / genesis configuration"
Will there be any new / altered protocol parameters or genesis configuration for the upcoming Vasil hard-fork (talking about parameters themselves / their semantic here, not about a change in their values)?

Should there be any, would it be possible to document them as a CIP _before_ the hard-fork is actually submitted to the network, in a similar fashion to [what was done for Alonzo's parameters]

[2022-05-11 18:28] kderme opened #2780 "New Ada Pots event"
We would like a new epoch boundary event, which exposes the `AdaPots` after the epoch transition, but before the application of the first block of the epoch.

[2022-05-12 01:19] JaredCorduan commented on #2779
The Babbage era does not introduce any new protocol parameters (so, in particular, there is no Babbage config). There is one small semantic change which will need to be accounted for in the HFC translation from Alonzo, namely [coinsPerUTxOWord](https://github.com/input-output-hk/cardano-ledger/blob/ea563c6f036da118954723e7d0788b66939d6ab2/eras/babbage/impl/src/Cardano/Ledger/Babbage/PParams.hs#L11

[2022-05-12 20:18] JaredCorduan opened #2783 "make the danger in `epochInfo` more apparent."
We should document and make clearer the circumstances when the methods associated with `epochInfo` return `Left`.

In particular, we often do the following to get the first slot of the next epoch:
[code]

  This construction works, but would not, for example, if we let `newEpochNo = EpochNo (e + 2)`. This construction could perhaps be a good standalone function.

[2022-05-13 09:11] KtorZ commented on #2779
Thanks @JaredCorduan :+1:

Arguably yes, we want a CIP for all era parameters changes; though if that's the only change it can be very short :)
Shall I keep this issue open as a "reminder" and close it once we've got the CIP out, Kevin is usually doing this so that may already be on his TODO list.

[2022-05-13 13:26] JaredCorduan commented on #2779
yea, let's keep it open, I'm excited to get the chance to embrace the CIP process more myself. thanks for opening this!

[2022-05-13 13:46] KtorZ commented on #2779
(for the record, related previous CIPs)

https://github.com/cardano-foundation/CIPs/tree/master/CIP-0009#readme

https://github.com/cardano-foundation/CIPs/tree/master/CIP-0028#readme

[2022-05-16 15:07] JaredCorduan opened #2786 "Fix FromJSON instance for CostModels"
We made an agreement with the Plutus team that the ledger code would only depend on the _ordering_ of the cost models keys, and that they were free to change the names of the keys, provided that the ordering didn't change. The `FromCBOR` instance of `CostModels`, however, _does_ depending on the keys names.

We need to either translate the old format to the new one (ie translate the changed key na

[2022-05-16 15:45] JaredCorduan opened #2788 "Alonzo ledger to support arbitrarily far out time translations."
There was a problem with the HFC's support for the time translations (slot to POSIX, for Plutus scripts) for the last known era. Prior to there being a Babbage era, the translation was allowing slots past a stability window. This is being fixed in the consensus layer (ie even the last era will now be bound by one stability window), but we will change the ledger in order to stay compatible with the

[2022-05-16 23:42] JaredCorduan opened #2794 "re-enable doc-tests"
Our doc test were disabled in #2793, they were depending on `oleg.fi` being available. We need to re-enable the tests another way.

[2022-05-17 13:02] #2788 closed, assigned to nc6

[2022-05-17 15:03] JaredCorduan opened #2796 "Revisit the unlawful FromJSON CostModels instance"
In #2792 we changed the `FromJSON` `CostModels` instance to translate the legacy Plutus V1 cost model parameter names to the current ones, thus keeping the Alonzo genesis file unchanged. The `ToJSON` instance was unchanged. This means that there are cost model params `cmps` where `(fromJSON . toJSON) cmps =/= cmps`.

We _could_ change the Alonzo genesis config if we wanted to, but this comes with

[2022-05-17 22:34] #2774 closed, assigned to nobody

[2022-05-18 12:03] ashisherc opened #2798 "Babbage - missing PlutusV2 changes in cddl for witnessing v2 scripts?"
https://github.com/input-output-hk/cardano-ledger/blob/76ae29dc6f73ee4707f3cf883a8af279501d798f/eras/babbage/test-suite/cddl-files/babbage.cddl#L281

[2022-05-18 12:42] JaredCorduan commented on #2798
yes indeed, thank you @ashisherc ! :pray:

[2022-05-18 13:13] ashisherc opened #2800 "Babbage - Question - Ledger Spec - potentially add info about out script ref"
https://github.com/input-output-hk/cardano-ledger/blob/76ae29dc6f73ee4707f3cf883a8af279501d798f/eras/babbage/test-suite/cddl-files/babbage.cddl#L90

Is the script required to be the output's witnessing script or can any plutus script be provided?

[2022-05-18 13:52] JaredCorduan commented on #2786
closed by #2792

[2022-05-18 13:52] #2786 closed, assigned to JaredCorduan

[2022-05-18 16:02] JaredCorduan commented on #2800
No, it can  be any script (timelocks too). The main purpose is to store a script in the ledger state so that you can use it in the future (multiple times) without having to provide it in the transaction (so with a reference input). [CIP-33](https://github.com/cardano-foundation/CIPs/pull/161) is a great read.

[2022-05-18 16:51] #2800 closed, assigned to nobody

[2022-05-19 17:59] #2798 closed, assigned to JaredCorduan

[2022-05-19 18:19] JaredCorduan commented on #2779
https://github.com/cardano-foundation/CIPs/pull/265

[2022-05-20 15:28] lehins opened #2805 "TxBody's Mint field and TxOut should not use the same Value type"
There should be a special `MintValue` type that allows negative values and does not contain any ADA, while TxOut can continue using the `Value` type.

[2022-05-23 14:23] JaredCorduan opened #2810 "Version the formal specs"
It would be very helpful to have a way to store versioned (perhaps with git tags) copies of the formal specs. A permanent link, somewhere in GitHub, would be ideal.

It would be nice to have a CI job that packages up the PDFs into tar.gz upon a creation of `cardano-ledger-spec-x.y.z` tag, and uploads it into the github releases section.

[2022-05-23 14:26] JaredCorduan opened #2811 "Alonzo test failure"
Investigate the following alonzo test failure

[code]

[2022-05-23 16:05] JaredCorduan opened #2812 "Babbage era `evaluateMinLovelaceOutput` class method is wrong"
The `evaluateMinLovelaceOutput` class method is incorrect in the Babbage era.

It is currently computed as:

https://github.com/input-output-hk/cardano-ledger/blob/ac1c074393074c00c854aa8827aca5bde0f07a23/eras/babbage/impl/src/Cardano/Ledger/Babbage.hs#L195-L196

But `utxoEntrySize out` is incorrect. In Babbage, we base the calculation on the serialized size:

https://github.com/input-output-hk/ca

[2022-05-23 21:04] #2812 closed, assigned to JaredCorduan

[2022-05-25 17:33] ashisherc opened #2820 "Babbage - CDDL - does script_ref type has a glitch?"
https://github.com/input-output-hk/cardano-ledger/blob/033b0e048c4caca2c7f642c18cbda51e4d003d8a/eras/babbage/test-suite/cddl-files/babbage.cddl#L412

currently, the script_ref is defined as below,
[code]

Should it have been defined as below?

[code]

[2022-05-25 17:34] ashisherc commented on #2820
@JaredCorduan can you please take a look?

[2022-05-25 18:04] JaredCorduan commented on #2820
It's not necessarily a glitch, but I can imagine that the proposed change is more convenient for people. I'll need to investigate to see if there was a strong reason for it to be the way it is now. thanks for bring this up!

[2022-05-29 15:44] jiagengliu commented on #2745
Hello Jared, I am wondering when did Daedalus update to use the new ranking? Can I still find the old ranking in any design spec?

[2022-05-30 14:37] jmhrpr opened #2826 "All inlined Phase1 scripts are required to be executed successfully if used in spend or reference inputs"
In the UTXOW state transition we check that all Phase 1 scripts execute successfully:

`∀s ∈ range(txscripts txw utxo ) ∩ Scriptph1, validateScript s tx`

Implementation: https://github.com/input-output-hk/cardano-ledger/blob/94b1ae3d6b66f4232f34060d89c2f12628998ef2/eras/babbage/impl/src/Cardano/Ledger/Babbage/Rules/Utxow.hs#L97-L119

But in the Babbage era `txscripts tx utxo` also includes inline

[2022-05-30 14:54] WhatisRT commented on #2826
#2827 fixes this in the spec, we now need to fix it in the implementation as well.

[2022-05-30 23:48] JaredCorduan commented on #2745
Hi @jiagengliu , we are still using the original stake pool ranking design, as described here: https://hydra.iohk.io/job/Cardano/cardano-ledger/specs.pool-ranking/latest/download-by-type/doc-pdf/pool-ranking

[2022-05-31 15:21] catch-21 opened #2828 "UnequalCollateralReturn is a misleading error name"
Given `txcoll` is not equal to sum of `collInputs` then `UnequalCollateralReturn` error is thrown. Seeing as this has nothing to do with the returned collateral, this error name is a little misleading. `UnequalCollateralFee` is a better definition. Of course the collateral fee is influenced by `collRet`.

[2022-06-01 00:11] jmhrpr commented on #2811
Is it possible to share the transaction which caused this?

[2022-06-01 00:58] JaredCorduan commented on #2811
@jmhrpr it would take a bit of digging, but I'm sure we could if it was important. It looks like the generators are just adding an unneeded script witness, though.

[2022-06-01 01:28] #2828 closed, assigned to nobody

[2022-06-01 01:36] jmhrpr commented on #2811
I guess it was just concerning that this could hint that in some case the ledger is not requiring a script when it be, but thinking about it that would probably throw other errors for extra redeemers etc so yeah probably like you say.

Though, now I'm looking at the functionality:
https://github.com/input-output-hk/cardano-ledger/blob/16e4498ab762b77eca4a6191a3d7845a869c13af/eras/babbage/impl/src/

[2022-06-01 09:20] WhatisRT commented on #2811
This is intended behaviour, if you check the spec that it will also fail in this situation. The reason is that we want to ensure that the block producer can not remove any scripts from the transaction (which is a property that Alonzo has, so we want to preserve it).

[2022-06-01 09:53] jmhrpr commented on #2811
I see, do you mean add instead of remove?

[2022-06-01 10:13] jmhrpr commented on #2811
If a Tx requires `s1` and it is included inlined in an input (`sRefs` = {`s1`}), and also in the witnesses (`sReceived` = {`s1`}) then `neededNonRefs` = `sNeeded` - `sRefs` = {}. Regardless of whether the BP removes `s1` from the witnesses of the transaction we have `missing` = {} on L93 because `neededNonRefs` = {}. We have `extra` = {} on L94 if the BP removed `s1` from the witnesses because tha

[2022-06-01 11:48] WhatisRT commented on #2811
Adding as well as removing scripts should be impossible, i.e. we want the set of scripts to be specified exactly. If we allowed scripts to be both present in the witnesses and be inlined, that wouldn't be the case.

[2022-06-01 15:22] jmhrpr commented on #2811
Ah, yes mistake in the scenario described in my last message is that it has the script both inlined and in the witnesses, but we're saying we don't want to allow that for the very reason I showed - if the ledger rules did allow a script to be both inlined _and_ in the witnesses then:

1) if a TX had a script inlined and in the witnesses a third-party can remove the script from the witnesses withou

[2022-06-01 16:13] jmhrpr opened #2834 "UTXOW check for malformed scripts does not check inlined scripts in the transaction outputs in implementation"
<img width="361" alt="image" src="https://user-images.githubusercontent.com/25673452/171442099-fc5d319d-290c-4bd8-8294-94b8fbb43770.png">

In the UTXOW state transition we check that datums and scripts are well-formed. The ledger spec states we should be checking that any inlined scripts in all the transaction outputs (`(_,_,d,_s) \in allOuts`) must be well-formed, but in the implementation we onl

[2022-06-01 17:02] WhatisRT commented on #2811
Yes, that's what it is about. It's not really that we think there's an attack, or that it's particularly bad if something changed that doesn't affect anything, it's just that this is a nice property to have: no one gets to mess with your transactions, whether that actually affects anything or not. Note that this is sadly already broken, but only it the VKey witnesses (think of multisig: if you bui

[2022-06-01 17:05] jmhrpr commented on #2811
That makes sense - thanks!

[2022-06-01 22:58] jiagengliu commented on #2745
Thank you, @JaredCorduan . I try to replicate the Daedalus ranking but I think the [ranking spec](https://hydra.iohk.io/job/Cardano/cardano-ledger/specs.pool-ranking/latest/download-by-type/doc-pdf/pool-ranking) is outdated.

1. I don't see the [applyDecay](https://github.com/input-output-hk/cardano-ledger/blob/f52afc03c7c600e64b759e8fb446c8f489cf0c31/eras/shelley/impl/src/Cardano/Ledger/Shelley/L

[2022-06-01 23:11] JaredCorduan commented on #2826
closed by  #2833

[2022-06-01 23:11] #2826 closed, assigned to nobody

[2022-06-01 23:12] JaredCorduan opened #2838 "Well-formed script failure should prevent running phase 2 validation"
We have at least one example where a malformed script both fails the well-formed check, but is still run through the plutus evaluator:

https://github.com/input-output-hk/cardano-ledger/pull/2837/files#diff-e87fb00b6caa153e54d2003b22f4cb8f9d8bfe0e5173b3ebc53bd8031c1842a2R997

[2022-06-02 01:59] JaredCorduan commented on #2745
You're right about `applyDecay`, we added it to the implementation but never updated the pool ranking document, apologies.  We are going to deprecate the whole thing (hopefully) soon (hence this github issue), so we probably won't update the document.

As for the prior and the percentile, we left it intentionally unspecified in the document. My hope at the time was that we would be able to add tog

[2022-06-02 10:26] Soupstraw commented on #2811
That seed does not seem to work on the current master branch, but I ran a bunch of tests to try to reproduce it and managed to make the same test fail with missing scripts this time:
[code]
commit dd13fada

[2022-06-02 10:57] Soupstraw opened #2839 "Alonzo test failure: Missing script witnesses"
On commit dd13fada:
[code]

Might be related to #2811

[2022-06-02 14:30] JaredCorduan commented on #2820
unfortunately there is not time to make this change before the Vasil HF, sorry.

[2022-06-02 14:30] #2820 closed, assigned to nobody

[2022-06-02 14:31] JaredCorduan commented on #2780
closed by https://github.com/input-output-hk/cardano-ledger/pull/2797

[2022-06-02 14:31] #2780 closed, assigned to teodanciu

[2022-06-02 15:05] francolq opened #2842 "slotToPOSIXTime: incorrect translation for protocol version <= 5"
[`slotToPOSIXTime`](https://github.com/input-output-hk/cardano-ledger/blob/ded4296ee7dc26da3504b0148363de39edd6ff93/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs#L190) is always returning 1000000000000 when protocol version <= 5. It looks like it is incorrectly using the [`resolution`](https://hackage.haskell.org/package/base-4.14.1.0/docs/src/Data.Fixed.html#local-6989586621679548231) func

[2022-06-02 15:14] KtorZ opened #2843 "Weird recursive type in Babbage's rules"
Hi, I just wanted to point out that I found this particular type _awkward_ and potentially dangerous / error-prone:

https://github.com/input-output-hk/cardano-ledger/blob/95d9f20887495a3a6f8d61a675016b888bf5d186/eras/babbage/impl/src/Cardano/Ledger/Babbage/Rules/Utxo.hs#L105-L120

I get that this is embedding predicate failures from Alonzo for re-use, but the hierarchy seems quite wrong / recursi

[2022-06-02 15:41] JaredCorduan commented on #2842
Hi @francolq , the bug is preserved on purpose in the code because if we wish to avoid splitting the network with an unintentional hard fork, we can only make semantic changes to the ledger via a controlled hard fork that bumps the major protocol version. After such a controlled hard fork (such as the position we are in now), we can go back and see if the semantic change is relevant to the history

[2022-06-02 16:49] ashisherc commented on #2820
No worries, thank you for looking into it!

[2022-06-02 16:52] JaredCorduan commented on #2843
Thanks for bringing this up @KtorZ (and for the effort it took to make this issue)!

I had a look with @TimSheard just now, we agree that it is a bit weird, but are unclear how it is dangerous. Tim's intuition as that we should replace

https://github.com/input-output-hk/cardano-ledger/blob/1db68a3ec0a2dcb5751004beb22b906162474f23/eras/shelley/impl/src/Cardano/Ledger/Shelley/Rules/Utxow.hs#L166

w

[2022-06-02 16:59] KtorZ commented on #2843
I find it error-prone, or _dangerous_ in the sense that, functions that would digest values of that type may actually loop forever. It is theoretically possible to create a `FromAlonzoUtxowFail (FromAlonzoUtxowFail (FromAlonzoUtxowFail (FromAlonzoUtxowFail (...` and so forth since the type does not really enforce any termination. I notice this while writing the following function:

[code]

This ma

[2022-06-02 18:48] JaredCorduan commented on #2820
anytime, sorry we didn't get to dig into this earlier.

[2022-06-02 20:24] JaredCorduan commented on #2843
The strategy I described above does not work, by the way. Shelley-MA relies on being able to swap out the `UTXO` predicate failure (while keeping the same `UTXOW` predicate failure).

I also tried the strategy described in the main issue, namely setting `type PredicateFailure (BabbageUTXO era) = UtxoPredicateFailure era ` in the babbage UTXO STS instance. I time-boxed the effort to a couple hours,

[2022-06-03 00:20] #2834 closed, assigned to JaredCorduan

[2022-06-03 16:46] JaredCorduan commented on #2842
Thanks for raising this issue @francolq , it served as a reminder for me to see if we can go back and clean up the code (ie remove the bug).  Unfortunately, however, it turns out that we cannot. :(

I was able to sync mainnet with the bug removed, but the main testnet _does not_ sync. [This block](https://explorer.cardano-testnet.iohkdev.io/en/block?id=7828c58252b1eb59487fc363d88771b6e08fa52841f39

[2022-06-03 16:46] #2842 closed, assigned to nobody

[2022-06-03 17:40] #2843 closed, assigned to nobody

[2022-06-03 18:19] francolq commented on #2842
Thank you @JaredCorduan for the quick and comprehensive answer. It is the first time I hear about this famed script. I guess it is good to see that the mainnet can be synced. If the testnet gets restarted some day, the bug can be removed.

[2022-06-03 18:38] JaredCorduan commented on #2842
[It](https://github.com/input-output-hk/lobster-challenge/blob/main/src/Cardano/PlutusLobster/LobsterScript.hs) was used to name the stuffed lobster in many of @CharlesHoskinson 's videos :)

[2022-06-03 19:47] jiagengliu commented on #2745
Thank you so much @JaredCorduan! I appreciate your help and I am able to get the list of current stake pools via the API. Sorry to hear that it's being retired. What is the new ranking algorithm going to be?

[2022-06-03 20:17] jiagengliu opened #2845 "Query a slice of pool distribution"
Hello,

I am doing research on choosing a stake pool (coming from https://github.com/input-output-hk/cardano-ledger/issues/2745). I wonder what's the fastest way to get snapshots of pool information for each block similar to https://github.com/input-output-hk/cardano-ledger/issues/2657? Ideally, I am trying to get historical ledger states returned by [getRewardInfoPools](https://github.com/input-o

[2022-06-03 21:20] JaredCorduan commented on #2745
@jiagengliu - I don't want to steal the researchers thunder, and I've only seen a draft that has probably changed since I saw it. Hopefully we can share a document soon!

[2022-06-03 21:29] JaredCorduan commented on #2845
Sounds interesting! I think the best way to do it would be to use [foldBlocks](https://github.com/input-output-hk/cardano-node/blob/286a2b31c6858ee476c35be0fc0aa2bc0c9086b8/cardano-api/src/Cardano/Api/LedgerState.hs#L285). It connects to a running node and lets you fold over the blocks. It will give you the opportunity to look at the ledger state after each block. To get the ranking information, y

[2022-06-03 21:29] #2845 closed, assigned to nobody

[2022-06-06 17:45] #2838 closed, assigned to nobody

[2022-06-07 11:54] KtorZ opened #2849 "Babbage → Vasil"
Hi, just a small silly thing but, before we cut off the final release, shall we consider a massive `sed "s/Babbage/Vasil"` across the entire ledger, consensus, networking and cardano-node code bases?

I reckon the decision to name it Vasil came after the work on Babbage started, but I can't help thinking that in weeks and months from now, it'll all be very confusing to talk about "Babbage/Vasil" a

[2022-06-07 12:41] ch1bo commented on #2849
AFAIK only the hard fork event is called "Vasil" but the Ledger era very much is intended to stay "Babbage", where the next era has been discussed to start with "C".

[2022-06-07 12:48] KtorZ commented on #2849
That's kind of my point. With all the communication that happened around this, I _think_ the era should also be named Vasil :no_mouth:. Otherwise in few months from now, only Babbage will remain.

[2022-06-07 12:49] JaredCorduan commented on #2849
No, the era should _not_ be renamed to match the name of the hard fork. We were striving for time based releases, and I still want to keep that hope alive.

[2022-06-07 12:55] #2849 closed, assigned to nobody

[2022-06-07 13:22] JaredCorduan commented on #2849
It can be hard for me to know what to make of the :confused: emoji often times. I don't know if it is more "dissatisfaction" or "I don't know what you are talking about" @KtorZ :)

The idea behind the time based releases, at least how I understood them, was that we would limit the dates when we could hard fork to: February, June, and October. When a named feature set, such as the Babbage era, is r

[2022-06-07 13:49] dcoutts commented on #2849
Babbage is a feature set. Vasil is a release date. We can fix features **xor** release dates. We cannot fix both.

[2022-06-07 13:49] rdlrt commented on #2849
So.. how do we represent this (what seems to be internal decision) to new users onboarding to the platform? It feels a lot like decisions made on-the-go without documentations or any reasoning - which might be to increase the pace, but I'd think someone somewhere needs to start documenting these decisions/changes with reasons - as community is not privy to such conversations 🙂
- What era will we b

[2022-06-07 13:56] dcoutts commented on #2849
@rdlrt It's a good question.

[2022-06-07 14:07] KtorZ commented on #2849
Just for the sake of clarification: it was more of a _"I understand, I acknowledge the situation, and I am just sad that it turned out like this --> :confused:"_

[2022-06-07 14:08] dcoutts commented on #2849
@rdlrt Yes this is complicated. Historically it has _usually_ been the case that a HF has corresponded to a change in the ledger era, but this is not in principle a 1:1 relationship. We did have one HF within Byron, it was actually the second HF that got us from Byron -> Shelley.

The ledger rules certainly have a notion of era, but this does not necessarily have to correspond to HFs.

[2022-06-07 14:18] rdlrt commented on #2849
Thanks  for the reply @dcoutts , I understand but ... not wiser, as am still not clear if I can answer previous questions 😄 ,  it sounds like it would have to be handled via explicit comms/support page to redirect to, while verbiage when talking about forks/eras might need to be consistent to avoid confusion (can prolly easily whip up a page with start of each era - assuming that's atleast conside

[2022-06-07 15:37] JaredCorduan commented on #2849
@rdlrt - I'll give my take on things, but just know that this is my admittedly biased view. I'd love for everyone to come together to make the language easy and clear for everyone.

In the ledger code, we needed a way of abstracting logic so that we could balance reducing code duplication and supporting old logic. For this we introduced a notion of "era", which we took from the [cardano roadmap](h

[2022-06-07 15:45] gufmar commented on #2849
Please excuse me if I come here in such a Github issue with a somewhat more general attempt to shed light on the question.

Already on https://roadmap.cardano.org/ there is a double terminology. In the menu

- Byron
- Shelley
- Goguen
- Basho
- Voltaire
are described as "**Phases**". However, further down in the text, as well as many other pages, there is talk of **Era**'s.

At https://input-outpu

[2022-06-07 16:02] JaredCorduan commented on #2849
@gufmar I think you and I were writing at the same time. :) What you wrote all makes sense to me, and I hope that what I wrote clarifies things a bit more. I have a few random comments:

Technically, at least in the codebase, a lot of us refer to the consensus mechanism in Shelley as ["transitional Praos"](https://github.com/input-output-hk/ouroboros-network/blob/e8e0170d5eaf64758a3a2e23b7bb8d3cd1

[2022-06-07 19:55] JaredCorduan opened #2851 "Faulty assumption that every reference script is executed"
Both `collectTwoPhaseScriptInputs` and `evaluateTransactionExecutionUnits` make the assumption that every reference script inside of every transaction input (both regular and reference) will be executed. The former assumes it for checking for cost models, the latter for gathering transaction contexts.

[2022-06-07 20:03] jmhrpr commented on #2851
I did see this (in the collectTwoPhaseScriptInputs case) but didn't see it as much of any issue unless I misunderstood something. Just that yes, the cost models for the reference script must be available, which seemed reasonable enough if cost models will never be removed (?) and that we can only create reference scripts for Plutus versions which exist and thus have a cost model. Didn't spot the l

[2022-06-07 20:25] JaredCorduan commented on #2851
Thanks @jmhrpr . The first issue, `collectTwoPhaseScriptInputs`, is definitely much less pressing. But I think it's at least abstractly problematic. _If_ we did remove the Plutus V1 cost model, we do not want to render unspendable every transaction output that contains a V1 Plutus reference script, it's much better that folks can remove them. (That said, I don't think we would ever actually remove

[2022-06-07 23:38] rdlrt commented on #2849
Thanks @JaredCorduan for all the details, appreciate it.

Your suggestion about CIP seems like the best way ahead to my eyes (as you can see from links shared by @gufmar , it's currently all over the place - having CIPs for next era , as well as documenting a short summarised table for retrospective phase/era/fork differentiation seems like a good outcome)

[2022-06-08 02:16] nfrisby opened #2853 "CostModel data definition has non-strict fields and wrong NoThunks instance"
I ran the `db-analyser` `noThunks` check and found one thunk, here:

https://github.com/input-output-hk/cardano-ledger/blob/51d97a7faeec32f3825a21d775ca70b6a05fd092/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs#L206

I don't think this is cause for alarm, since it's not involved in any iteration or risks retaining much, as far as I anticipate. However, we should fix it, if only so the `noT

[2022-06-08 05:49] jonathanknowles opened #2854 "Silent truncation of `SlotNo` values in constructor for `Ptr`"
While upgrading `cardano-wallet` to the latest node version, we discovered some odd behaviour in our property tests w.r.t. the [`Ptr`](https://github.com/input-output-hk/cardano-ledger/blob/ac1c074393074c00c854aa8827aca5bde0f07a23/libs/cardano-ledger-core/src/Cardano/Ledger/Credential.hs#L135) type.

To construct and deconstruct values of type [`Ptr`](https://github.com/input-output-hk/cardano-led

[2022-06-09 00:19] JaredCorduan opened #2856 "noThunks tests"
The `ouroboros-network` repository contains [noThunks](https://hackage.haskell.org/package/nothunks) tests which sometime catch memory leaks in the ledger. It would be much better if there were tests in `cardano-ledger` which could catch memory leaks before they make their way to `ouroboros-network`.

The `ouroboros-network` noThunks tests take a while to run, and are probably better suited for a

[2022-06-09 01:42] #2851 closed, assigned to JaredCorduan

[2022-06-09 12:32] JaredCorduan commented on #2849
I've made a CIP: https://github.com/cardano-foundation/CIPs/pull/274

Feedback would be most welcome!

[2022-06-13 19:17] JaredCorduan opened #2859 "SuccessfulPlutusScriptsEvent emitted too often"
The `SuccessfulPlutusScriptsEvent` event is emitted even when a transaction contains _no_ Plutus scripts:

https://github.com/input-output-hk/cardano-ledger/blob/0b0d066bf35f4062545bfaeeaf2cca9a1a87a2c3/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs#L243

The path to `Passes ps` contains the case that `ps` is empty.

We should not emit this event when `ps` is empty. We should use `NonEm

[2022-06-14 14:23] JaredCorduan opened #2862 "Alonzo and Babbage TxBody serializers sometimes produce empty containers."
Two optional transaction body fields from Alonzo and Babbage, and one Babbage-only optional field, are being serialized as empty containers when not used. We should not include them at all!

Alonzo:
* collateral inputs: https://github.com/input-output-hk/cardano-ledger/blob/0b0d066bf35f4062545bfaeeaf2cca9a1a87a2c3/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs#L724
* required signers: https:

[2022-06-14 18:10] #2862 closed, assigned to nobody

[2022-06-15 17:01] JaredCorduan commented on #1673
The details in this issues are out of date, but we definitely still need to re-organized our tests.

[2022-06-15 17:12] JaredCorduan commented on #1676
waiting on https://github.com/input-output-hk/cardano-base/pull/278 before we can finish it up.

[2022-06-15 17:34] JaredCorduan commented on #2167
So we now do use the same size as we use for the min utxo calculation, but the new min utxo calculation uses the external serialised representation. :)

[2022-06-15 17:34] #2167 closed, assigned to nobody

[2022-06-15 17:38] JaredCorduan commented on #2289
Or perhaps remove Byron tests and have a (weekly?) CI job to make sure we can sync mainnet.

[2022-06-15 17:43] JaredCorduan commented on #2478
This is related to https://github.com/input-output-hk/cardano-ledger/issues/1914

[2022-06-15 17:52] JaredCorduan commented on #2779
I'm going to close this issue here since I have a PR up for the CIP.

[2022-06-15 17:52] #2779 closed, assigned to nobody

[2022-06-15 17:58] #2859 closed, assigned to nobody

[2022-06-15 18:59] JaredCorduan opened #2867 "Replace maps with associations lists in ShelleyGenesis"
We want to replace the maps inside the [ShelleyGenesis](https://github.com/input-output-hk/cardano-ledger/blob/9d5fe3e539605e3bf9d98d73ea892aa467d55058/eras/shelley/impl/src/Cardano/Ledger/Shelley/Genesis.hs#L126) type with associations lists (ie `[(k, v)]`). We do **not**, however, want to change to the JSON serialized format.

The context is that for bench-marking we sometimes want to make and s

[2022-06-16 04:37] SebastienGllmt opened #2868 "Add missing bnonce prose"
We have a prose description of `bleader` in the Shelley spec, but nowhere is `bnonce` ever described.

Notably, `bleader` is described as "indicates a possible leader for this slot", but it's not clear how a similar definition would apply to `bnonce` and if `bnonce` is the same thing as the `nonce_vrf` from the binary spec of previous eras

[2022-06-16 12:11] JaredCorduan commented on #2868
The accessor functions `bleader` and `bnonce` are defined in "Figure 53: Block Definitions", right below the definition of `BHBody`.

The section that you are referring to, "12.9 Verifiable Random Function", is about the VRF checks. The first bullet point in that section describes that both the leader and the nonce VRF values are checked against their proofs in the block header body. The third bul

[2022-06-16 14:55] SebastienGllmt commented on #2868
Yes, the fact that we have an accessor is fine. The idea that we have some nonce that updates based off some deterministic function is fine. It doesn't explain why we need to run a 2nd VRF on this nonce though. If bleader "indicates a possible leader for this slot", then what is bnonce for?

Notably, I would expect something like this

[2022-06-16 16:09] JaredCorduan commented on #2868
I see. Section 12.1 (which is where I think this should live) is very sparse on prose, nothing in the block header body is explained.

yes

yes, see `mkSeed` and `vrfChecks` in the "VRF helper function" table (which sadly isn't numbered for some reason).

The epoch nonce, and how it evolves, is the heart and soul of Ouroboros Praos. We could mention this, but without going into all the details. It

[2022-06-17 13:06] JaredCorduan commented on #2364
we changed this but forgot to close the issue.

[2022-06-17 13:06] #2364 closed, assigned to nobody

[2022-06-17 13:21] JaredCorduan commented on #2366
`Undocumented field in the formal spec` - This actually goes all the way back to Shelley. The Byron keys and the Shelley keys are actually the same (ed25519), it's just that the Byron addresses mistakenly included some information regarding deterministic wallet constructions that forced us to separate the types.

I think we would prefer to make mention of this fact somewhere in the Shelley spec, b

[2022-06-17 13:26] JaredCorduan commented on #2366
I think we can safely close this issue once we fix the comment to [here](https://github.com/input-output-hk/cardano-ledger/blob/7fbccfb0562a522f2b3d858d6bcbe119df758e6f/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs) to point to figure 4.

[2022-06-17 13:28] JaredCorduan commented on #2367
the spec now uses rationals, thanks!

[2022-06-17 13:28] #2367 closed, assigned to JaredCorduan

[2022-06-17 13:30] JaredCorduan commented on #2370
I'm going to close this issue since we are okay with the spec using Bool, but having more expressive return types for the implementation.

[2022-06-17 13:30] #2370 closed, assigned to JaredCorduan

[2022-06-17 23:54] lehins commented on #2854
@jonathanknowles Thank you for bringing this up! This optimization will be disabled for now in #2875, so this ticket will not be valid until a bit later. Future planned fix is to introduce function:

[code]

and making the `Ptr` pattern unidirectional. I think that will be better than introducing a whole new type `SlotNo32` that can only be used for `Ptr`. But the affect will be the same, it'll be

[2022-06-18 00:12] #2756 closed, assigned to nobody

[2022-06-20 12:27] #2366 closed, assigned to nobody

[2022-06-20 13:22] jmhrpr opened #2877 "Cosmetic/minor issues in comments and formal specifications"
Few pretty inconsequential and cosmetic issues in comments and Babbage formal spec.

* [ ] 1 - Comment for `TxInfoOutV1` reads `V2` where it should read `V1`.
https://github.com/IntersectMBO/cardano-ledger/blob/09dc3774a434677ece12910b2c1c409de4cc2656/eras/babbage/impl/src/Cardano/Ledger/Babbage/TxInfo.hs#L104

* [ ] 2 - The comment describing the `feesOK` function states "_2) If the total ExUnits

[2022-06-21 17:03] JaredCorduan commented on #2853
@Jasagredo kindly pointed out that there still seems to be an unexpected thunk in the `EvaluationContext`. I'll re-open this issue.

[2022-06-21 17:22] JaredCorduan commented on #2853
See https://github.com/input-output-hk/plutus/issues/4687

[2022-06-23 16:58] lehins opened #2882 "Show and Hash for MemoBytes"
It was brought to our attention by @sevanspowell that it is possible for two transactions to not be equal, while the string produced by the `show` function are identical.

This is actually true due to the serialization, which does not participate in the Show instance. In fact this is totally legit since there is no law in Haskell that regulates that `show txA == show txB <=> txA == txB` property h

[2022-06-23 17:19] JaredCorduan commented on #2882
Fantastic breakdown, thank you @lehins ! Also, many thanks to @sevanspowell for going out of his way to help us understand the problem.

I heartily endorse the solution proposed here.

[2022-06-24 18:07] #2737 closed, assigned to TimSheard

[2022-06-28 08:02] ashisherc opened #2885 "BUG? - Ledger is accepting tx which has collateral input specified which does not exist"
The Ledger is accepting transactions which have collateral input specified that DO NOT exist. The transaction that was accepted is in the Alonzo version (without collateral output, amount) but submitted and processed in the Babbage era.

By DO NOT exist I mean that utxo is not valid/was never created in the ledger. (Not referring to a utxo which got consumed later). BUT a utxo that was never creat

[2022-06-28 08:04] ashisherc commented on #2885
@JaredCorduan

[2022-06-28 09:16] jmhrpr commented on #2885
Is there an explorer for the Devnet? The first thing that comes to mind is this could be related to this point in the ledger spec:

Did the first Tx fail script validation?

[2022-06-28 09:40] ashisherc commented on #2885
@jmhrpr there is no explorer for Vasil Dev network, I'm running an internal explorer on it and that's how I came to find this issue.

All the transactions in both blocks are valid (no script failure) and accepted by the ledger.

the first block is at blockheight 29727
and the second is at blockheight 32718

[2022-06-28 11:10] ashisherc commented on #2885
@jmhrpr I double-checked the first tx, it looks like it is marked as failed tx

[2022-06-28 11:26] jmhrpr commented on #2885
Thanks @ashisherc. The spec could probably do a better job of what is happening here, particularly for people developing explorers.

We see that the first tx specifies a collateral return:
[code]

We only specify a `TxOut` as the collateral return in the transaction, so in the case of a phase-2 validation failure causing the collateral to be taken the ledger needs to create an associated input to

[2022-06-28 11:57] JaredCorduan commented on #2885
thank you for looking into this issue @jmhrpr , that totally explains it. I agree completely that the spec needs some kind of hard-to-miss box with something like:

[code]

[2022-06-28 12:26] ashisherc commented on #2885
Thanks @jmhrpr, that answers it. my bad!!!

Thanks @JaredCorduan

[2022-06-28 12:26] #2885 closed, assigned to nobody

[2022-06-28 12:28] JaredCorduan commented on #2885
it's a common trap, no worries @ashisherc , we need to make this point much more clear in the spec.

[2022-06-28 15:02] locallycompact opened #2886 "Will this repository drop dependency on cardano-prelude?"
Hi, there's an open merge request for cardano-base to drop the dependency on cardano-prelude when babbage hits. https://github.com/input-output-hk/cardano-base/pull/280

Will this repository do the same? I ask because I would like to work on making cardano-ledger compatible with ghc-9.2, and so this is relevant (as it gets rid of protolude).

[2022-06-28 15:22] JaredCorduan commented on #2886
yes indeed, the issue is here: https://github.com/input-output-hk/cardano-ledger/issues/1676

[2022-06-28 15:22] #2886 closed, assigned to nobody

[2022-06-28 16:00] locallycompact commented on #1676
Is there a WIP branch for this?

[2022-06-28 16:54] teodanciu commented on #1676
There was an outdated one, which I just refreshed and opened a draft PR for it: https://github.com/input-output-hk/cardano-ledger/pull/2887

[2022-06-28 19:17] #2867 closed, assigned to Soupstraw

[2022-06-29 15:58] vfrsilva opened #2889 "Operation Serenity Ledger"

[2022-06-30 13:56] JaredCorduan commented on #2811
Another example found here: https://github.com/input-output-hk/cardano-ledger/runs/7131338110?check_suite_focus=true

[code]

[2022-07-01 17:19] Soupstraw opened #2893 "Fix the map implementation in ListMap"
@Soupstraw I saw that thing as well, do you wanna submit a PR with this fix, considering this one has already been merged. Using list comprehensions would very a clean solution.

_Originally posted by @lehins in https://github.com/input-output-hk/cardano-ledger/pull/2890#discussion_r912109236_

[2022-07-05 14:52] #2744 closed, assigned to TimSheard

[2022-07-05 15:46] #2893 closed, assigned to Soupstraw

[2022-07-05 20:20] #1675 closed, assigned to Soupstraw

[2022-07-05 20:42] JaredCorduan commented on #2736
closed by https://github.com/input-output-hk/cardano-base/pull/284

[2022-07-05 20:42] #2736 closed, assigned to TimSheard

[2022-07-07 09:50] Soupstraw opened #2900 "Create a parsable PR template"
We should make a PR template and a parser to automate some of the manual labor and enforce contribution rules. The idea is that whenever someone makes a pull request, they add the changelog entries into the PR description. If we have a template, then we can write a GitHub action that scrapes these entries from the description and adds them to the changelog once the PR is merged.

## Template
[code

[2022-07-08 18:37] JaredCorduan opened #2902 "Problematic cost model serialization"
The current cost model serialization scheme is problematic:
https://github.com/input-output-hk/cardano-ledger/blob/2505b7f103c78ee5a230b3e302e31d9607fffbd5/eras/babbage/test-suite/cddl-files/babbage.cddl#L324-L327

The are two problems:
1. We cannot add a `V3` cost model in the same protocol parameter update that initiates a hard fork. We can only count on nodes to be updated after a hard fork ([c

[2022-07-08 19:28] JaredCorduan opened #2903 "Separate Timelocks scripts from Plutus scripts"
There are several places in the codebase where it appears that we are handling generic scripts (ie both timelocks and plutus), but we are in fact only interested in one of the two types (or more precisely, one of the two constructors of [Script](https://github.com/input-output-hk/cardano-ledger/blob/2505b7f103c78ee5a230b3e302e31d9607fffbd5/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs#L116

[2022-07-08 19:55] JaredCorduan commented on #2889
closing since this was just used for experimenting with github projects. thanks again @vfrsilva :raised_hands:

[2022-07-08 19:56] #2889 closed, assigned to JaredCorduan

[2022-07-11 12:14] JaredCorduan opened #2905 "Helper function - construct a transaction output with mimimun lovelace"
Write an era-generic function
[code]

perhaps with a better name, such that:

for all `pp :: Core.PParams era` and `out :: Core.TxOut era`, if `minLovelaceFixedPoint pp out = x`, then:
* `evaluateMinLovelaceOutput pp (setLovelace x out) = x`.

In other words, `minLovelaceFixedPoint` computes the fixed point of `f z = evaluateMinLovelaceOutput pp (setLovelace z out)`. Note that `evaluateMinLovelace

[2022-07-12 15:19] lehins opened #2910 "Account for deprecated `testProperty` function"
As of `tasty-hedgehog-1.2.0` the function [`testProperty`] function has been deprecated. We use it a lot throughout the codebase.

We need to:
- [ ] - Remove all `-Wno-deprecations` that were added in #2908
- [ ] - Use new function `testPropertyNamed`
- [ ] - Add a helper function for tests that already have short names for properties, to avoid duplicating names:
[code]

[2022-07-13 11:53] #2856 closed, assigned to Soupstraw

[2022-07-13 20:26] JaredCorduan commented on #2902
I talked with @Soupstraw , @bezirg, and @michaelpj, we made this plan:

## The Plan

* The Plutus function `mkEvaluationContext` will be changed to take `[Integer]` instead of `Map Text Integer` (matching the wire spec)
  * If `mkEvaluationContext` receives fewer integers than it needs (for a given version of Plutus), it will return an error message
  * If `mkEvaluationContext` receives at least a

[2022-07-14 09:28] michaelpj commented on #2902
... which might  be an error. Do we need to store the underlying `[Int]`? I guess it's needed for re-serializing.

This only applies for node `x+1`. Node `x` has an old Plutus which doesn't know about `f` at all, but that's also fine, it'll be a deserialization failure that happens in the same place.

[2022-07-14 09:32] michaelpj commented on #2902
Won't it be rejected before that for simply not being recognized as a known language by node `x`?

This is currently not happening: we should change this. We're currently relying on the absence of the cost model to disable a version.

Although in the scenario you mention, node `x+1` will see a cost model for V3 _in an update proposal_, but it won't actually be _applied_ until the HF that introduce

[2022-07-14 09:50] bezirg commented on #2902
I agree with @michaelpj on this. The ledger calls into the `plutus-ledger-api` in a static way ; a specific node version can call into a fixed number of statically linked plutus versions, e.g. V1 and V2. If a newer currently uknown language version comes in e.g. V3, the node running the old software will not be statically linked with any V3.

I think we can enforce this on plutus-master by having

[2022-07-14 09:55] bezirg commented on #2902
@JaredCorduan your logic makes sense.

The problem and this thing with the type families I don't get at all, so no ideas from my side.

[2022-07-14 10:02] michaelpj commented on #2902
@JaredCorduan If we add a check on our side to reject language versions that shouldn't be enabled in particular protocol versions, we have a choice about whether we include it in `isScriptWellFormed` or not. If we do, this will be a phase 1 failure, if we don't it will be a phase 2 failure. I think we should try and make as many things as possible phase 1 failures, so I'm inclined to do it unless

[2022-07-14 10:13] bezirg commented on #2902
@michaelpj

a) if we make it phase1 error, we preclude submitting+executing any new-language scrips until HF.
b) if we make it phase2 error, we allow submitting new-language scripts but disallow executing them until HF.

I don't know if there is a use-case to do (b).

[2022-07-14 10:20] michaelpj commented on #2902
I guess it maybe prevents you from submitting a reference script with a new language version before the HF? Does the ledger deserialization refuse to deserialize transactions containing newer scripts from newer languages before the HF?

[2022-07-14 13:13] JaredCorduan commented on #2902
exactly

---

good catch, thank you! I will edit [The Plan](https://github.com/input-output-hk/cardano-ledger/issues/2902#issuecomment-1183644628).

---

yes, another good catch! I'll edit that as well.

---

I also much prefer if Plutus could gaurd this for us as well, otherwise it depends on the timing of the updates (ie the governance has to remember that they must never update the new cost mod

[2022-07-14 13:15] JaredCorduan commented on #2902
Absolutely. We can add this to our not-yet-existent list of guiding principles. (it's not dogma, everything is still open for discussion, though).

[2022-07-14 13:38] michaelpj commented on #2902
I think I would actively prefer it if they can't :D

[2022-07-14 14:19] JaredCorduan commented on #2902
That's definitely my preference as well, I was just trying to tease out the implications (a weak form of a proof by contradiction :) )

[2022-07-15 14:59] #2853 closed, assigned to Soupstraw

[2022-07-15 17:28] Jimbo4350 opened #2919 "Optional datum documentation"
Optional datums were introduced in the Alonzo era however information regarding them is scarce, in particular what is considered a valid optional datum. This needs to be added to the spec.

[2022-07-18 15:23] catch-21 commented on #2919
We should settle on a single name when referring on this type of datum. I've seen "optional" (ledger spec), "extra" (CIP-31 & CIP-32) and "embedded" (node-cli).  I vote to align on "optional".

[2022-07-20 10:41] anton-k opened #2922 "How reference script PlutusV2.txOutReferenceScript corresponds to Babbage era TxOutCompactRefScript?"
Please can you help me to understand how reference scripts relate from Plutus V2 to cardano-ledger's Babbage Era?

I'm trying to convert Plutus V2 to Babbage Era Tx for testing purposes.
The `TxOutCompactRefScript` expects TxOut to contain the full script
as it type goes:

[code]
So it contains full script and it seems that we don't win in TxSize except that it's in the UTxO set arounnd TX.
But wh

[2022-07-20 10:43] anton-k commented on #2922
It seems that PlutusV2 TxOut does not correspond to Babbage era TxOut.

[2022-07-22 09:42] Soupstraw commented on #2900
I've created a repo for parsing PR templates: https://github.com/Soupstraw/template-parser

There's still a lot of work to do to integrate that into CI. I think the best approach would be to create a GitHub bot that listens for PR events and then collects all the changelog entries. It would then commit the new changelog at a time where we usually don't work on the repo.

[2022-07-25 18:18] JaredCorduan commented on #2922
I'm sorry, I don't understand the question.

Are you trying to use a V2 script as a refernce script?

The point of reference scripts is that you can later use them via reference inputs. This way, if you want to use the script multiple times, you only need to pay the cost of putting it in a transaction once. See [CIP-33](https://cips.cardano.org/cips/cip33).

What do you mean by a "PlutusV2 TxOut"?

[2022-07-25 18:18] #2922 closed, assigned to nobody

[2022-07-26 11:35] lehins opened #2927 "Switch `PParams` to use lenses instead of `HasField`"
In a recent PR #2901 we've switched all transaction related types to use lenses. Same needs to be done for PParams.

Also concrete types need to become newtypes around the `*PParamHKD`, rather than the type synonyms. Also renaming fields using proper convention could be done at the same time.

- [ ] - Use `newtypes` instead of `type` synonyms
- [ ] - Define lenses and provide instances
- [ ] - Ren

[2022-07-26 11:50] lehins opened #2928 "Rename all types defined in `Rules` across eras consistently"
In Alonzo era we define rule type

[code]

Note the inconsistently of `BbodyPredicateFailure`. It is not immediately clear which era this type comes from and the suffix is different. We need to rename all era types to be prefixed with era and use the consistent naming cross all eras. This is the best that comes to mind:

[code]

[2022-07-26 11:53] lehins opened #2929 "Rename type variable `crypto` to `c`"
It has been used inconsistently across eras. Mostly pronounced in older eras usage of `crypto` vs `c` in newer

I suggest we follow the trend and rename all usages of `crypto` to `c`, eg.

[code]
will become this:

[code]

This is somewhat a boring task, but it will bring a bit more consistency to the codebase

[2022-07-26 11:56] lehins opened #2930 "Split `TxOut` into its own module"
Currently all `TxOut` definitions in all eras are placed into the `TxBody.hs` module

In some eras, like Alonzo and Babbage `TxOut` implementation is fairly involved, so it makes sense to move those into their own module. This should be done consistently across all eras, even for those that do not define the TxOut, but only create the instances.

[2022-07-26 12:08] lehins opened #2931 "Rename Witnesses consistently across all eras"
Current naming is quite inconsistent and should be fixed.

The consensus throughout the team is to name the core type family `TxWits`, which means:

* The class will look like this:
[code]

And the concrete types per era will be placed into `Cardano.Ledger.[Era].TxWits`, which means for Shelley they'll have to move from the `Tx.hs` module. Also important for Shelley is to define a `newtype` around

[2022-07-26 12:15] lehins opened #2932 "Classes defined in each era should go into `Core` module"
It was discussed that classes are spread around through out the repo and it would be best if each era defined type classes in the `Cardano.Ledger.[Era].Core` module. Unless of course the type class is used as an internal implementation in some module.

For example newly defined type classes in #2901, eg `AlonzoEraTxBody` is defined in `Cardano.Ledger.Alonzo.TxBody` module, but it needs to move int

[2022-07-26 12:16] lehins commented on #2932
CC @TimSheard this was your idea, so just letting you know that I created this ticket

[2022-07-26 12:29] lehins opened #2933 "Fix conflicting name `type Crypto` vs `class Crypto`"
This is an omnipresent issue throughout the repo, which causes us to `import qualified Cardano.Ledger.Class as CC`. This is not that big of a deal, but if there is an agreement throughout the team we could rename one to avoid this collision. It does lead to more typing and confusion for the newcomers, so I think it would be an improvement. In consensus, in fact, a type synonym `EraCrypto` is creat

[2022-07-26 12:33] lehins opened #2934 "Fix spelling of `HasAlgorithm`"
I am sure this was not intentional
[code]

[2022-07-26 12:38] JaredCorduan commented on #2934
:laughing: that's delightfully confusing :laughing:

Almost certainly a mistake.

[2022-07-26 12:39] JaredCorduan commented on #2933
I'm all for `EraCrypto` if it bring more consistency and removes a name clash!

[2022-07-28 04:46] ashisherc opened #2937 "Do not allow collateral fields when there is no redeemer"
Network: Vasil Dev

Block: `1787ae01340333569855947f84d095b84db408edda2da80a157bf2ab6d961ef3`
Absolute Slot: `607569`

Transaction at `index 0`

Block CBOR:
[code]

In this block, at tx index 0, the tx has no input collateral but has an output collateral of `1000000 lovelace`. Also notice that the collateral output is ONLY `1 lovelace`. This tx is marked successful hence the collateral fields are

[2022-07-28 07:38] jmhrpr commented on #2937
Most collateral checks (at least those relating to conservation of value across the collateral inputs/outputs and the correctness of the total collateral field) are done only if the transaction contains redeemers, because collateral is only taken when the transaction fails phase-2 validation which is only possible if the transaction contains redeemers.

This transaction does not use any phase-2 sc

[2022-07-28 10:36] ashisherc commented on #2937
@jmhrpr yep understandable, also prolly the checks might not be needed on collateral when the tx is marked as true as the tx above is. As you state it is indeed weird to allow arbitrary values in collateral.

[2022-07-28 12:46] AndrewWestberg commented on #2937
It seems we're already checking for the existence of redeemers. Couldn't this check simply fail the transaction if it has collateral fields and there are no redeemers?

[2022-07-28 13:04] JaredCorduan commented on #2937
as always, thank you @ashisherc for finding and bring up interesting details!

I do not know for certain if this was intentional, but as a general rule of thumb we "do not add extra validation for things that are weird but not harmful". When we were first designing Shelley, an incredibly number of topics came up about "should be forbid this?", and we adopted this mantra in order to keep the rules

[2022-07-28 15:48] Jimbo4350 opened #2939 "Improve comment on PVCannotFollowPPUP"
[code]

"the first bad protocol version` is pretty  opaque to those that don't work directly on the ledger. This comment could be improved to explain what the error constructor means.

[2022-07-28 16:47] L-as opened #2940 "`validPlutusdata` dead code?"
https://github.com/input-output-hk/cardano-ledger/blob/83b9973810f4e15ce24d5efc8f1debeb5d73b729/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs#L781 doesn't seem to be used anywhere.

[2022-07-28 17:10] peter-mlabs opened #2941 "Better communication/clarity on phase-1 validation and serialization criteria"
# Overview

A perennial issue on a team I manage has been understanding what _exactly_ comprises phase-1 validation. I would like to see a clear, plain English listing of the criteria that must be satisfied by a script context or transaction in order to actually function on the main net.

Full disclaimer: I've not fully read the specs or the implementation myself and this issue is, in part, to req

[2022-07-28 17:53] JaredCorduan commented on #2940
indeed, looks like dead code to me too

[2022-07-28 19:02] JaredCorduan commented on #2941
Hi @peter-mlabs , thanks for bring this up, this is a great topic.

---

### What is "phase 1 validation"

The definition really is "everything besides script execution", but that's not vague at all. If you look at the Alonzo specification, Figure 9, the line:
[code]
_is_ what we mean by phase 2. The rest of the spec is phase 1. The specs contain a lot of plain English prose describing everything,

[2022-07-28 19:16] asutherlandus commented on #2941
Regarding `EmulatorTrace` there has been significant effort in the last couple months to make it more faithful to the actual ledger rules. Previously it had a separate implementation that had diverged from the ledger and we know how much trouble this caused developers. We have changed it to use the code directly from ledger to make sure it is faithful to the behavior on chain. Its probably not per

[2022-07-28 20:37] peter-mlabs commented on #2941
Thank you both for your prompt responses.

------------

Understood. I'll be taking a closer look at these myself, but its been a perennial re-hashing that any time someone's been tasked on "figuring out what phase-1 is", its been a struggle -- perhaps after I've had a look myself, I'll have more direct insight into what, if anything, could be improved.

---------

Just the Read The Docs page [her

[2022-07-28 21:28] JaredCorduan commented on #2941
It's probably true that we never explicitly state that "phase-1 failures" are all the failures except for the single phase-2 failure. It's not something that needed a formal definition in the spec, but it is language that we use a lot and I agree that that point should be explicitly stated somewhere.

---

Ah! That documentation is very incomplete and really only explains the multi-assets. The poi

[2022-07-28 22:33] peter-mlabs commented on #2941
I think we're getting on the same page here!

-----

I don't think that is what I mean.

I want to know which values/inhabitants of certain types or in certain contexts are "invalid" from either the perspective of (using your terminology) "phase 1 validation" _or_ "guarded on the wire", and specifically _why_ they are invalid.

For instance, (pseudo-code)

[code]

would be a "valid" inhabitant of

[2022-07-28 23:58] JaredCorduan commented on #2941
yes indeed, it's becoming clearer and clearer!

I think the following might help (and I can try to get to it early next week): Go through each type inside `TxInfo` and think about the space of values in each type, and which one can be ruled out _without_ all the context of the ledger state. So things like 1) blanket rules (no negatives unless minting, etc), and 2) things forbidden on the wire. I c

[2022-08-01 13:30] Quantumplation opened #2943 "Serialization round-trips considered dangerous"
Hello!

While testing our changes for the upgrade to Vasil, we produced this transaction:

https://testnet.cexplorer.io/tx/c8b91a27976836f5ba349275bba3f0b81eb1d51aaf31a4340035ce450fdf83a7

This has the seemingly scary property that the datum in the witnesses doesn't hash to the datum on the output.  In particular:

https://testnet.cexplorer.io/datum/06269f665176dc65b334d685b2f64826c092875ca77e1500

[2022-08-01 15:02] JaredCorduan commented on #2943
thanks for bringing this up @Quantumplation , this does indeed look like an unfortunate trap for anyone to fall into.

If that were true at the level of the wire, that would be terrible. I suspect/hope that the transaction itself has the same datum hash as is inside the transaction output. In other words, the explorer is re-serializing and hashing the datum. I tried to figure this out myself, but

[2022-08-01 15:05] Quantumplation commented on #2943
Yep, @KtorZ grabbed it with ogmios, and the datum on the wire is:

[code]

Which does indeed hash correctly (at least in our tests, would be good to have a third confirmation just in case lol)

Also worth noting that it's not the explorer that reserializes it, but cardano-db-sync, hence the other ticket. So anyone depending on that is also likely impacted.

Finally, the reason we have to use defin

[2022-08-01 15:51] JaredCorduan commented on #2943
ok, that's great news :relieved: So, just to confirm, the problem is that third parties might be using a combination of tools, some from IOG that chose one (cbor compliant) serialization, and others that chose a different (cbor compliant) serialization. right?

[2022-08-01 16:39] Quantumplation commented on #2943
Yes, especially dangerous when it changes what's on the wire, because it makes the utxo effectively unspendable until you correct the bad datums

[2022-08-01 18:05] JaredCorduan commented on #2941
For reference, the Plutus V2 context looks like:

https://github.com/input-output-hk/plutus/blob/9ef6a65067893b4f9099215ff7947da00c5cd7ac/plutus-ledger-api/src/PlutusLedgerApi/V2/Contexts.hs#L78-L92

[code]

These types are from the Plutus library, and the ledger translation into them.  The Plutus types do protect the users from some of the details mentioned in this issue (such as whether or not a

[2022-08-01 18:09] JaredCorduan commented on #2943
@Quantumplation do you have a suggestion for where such documentation would have been most likely to have caught your attention? The formal spec? Haddocks? Other documentation that I am not aware of? Or did you just want an issues here that others can find (even if I close it)? I do not myself know where the best place would be to put out this public service announcement "do not re-serialize data

[2022-08-01 18:16] Quantumplation commented on #2943
I think this issue (even if you close it) is a good first step; I'd imagine a warning in the haddock would help too.

@KtorZ do you have thoughts here? i.e. is there a specific method where a warning in the haddock string would have caught this?

@JaredCorduan as mentioned in the commit I linked, updating the `arbitrary` instance to generate alternate canonical forms might also be helpful; even if

[2022-08-01 20:03] JaredCorduan opened #2944 "Arbitrary instances with alternate, valid, serializations."
The ledger is very careful to never re-serialize any data structures that will be hashed. This is important since there are multiple valid ways to encode many data structures in CBOR. Developers who use reuse some of the ledger code, however, are not always as aware of how important this is. In particular, sometimes projects will mix and match the ledger code and other third party serialization li

[2022-08-01 20:05] JaredCorduan commented on #2943
This is sage advice, I completely agree. I made #2944 to capture it. thanks!

[2022-08-01 20:10] Quantumplation commented on #2944
If it's helpful, here are the three big encoding variances we've encountered and had to work around when interacting with browser and hardware wallets:

 - definite / indefinite length arrays
 - the ordering of map keys
 - empty list vs omitted key in maps

[2022-08-01 20:49] peter-mlabs commented on #2941
Thanks, Jared -- this is a very good start to what we're looking for.

A few comments follow below. I'm making some assumptions, so please flag if anything seems out of place -- its entirely possible that things that I'm inferring as "today's convention" were intentionally left open-ended.

--------

Just to clarify, the `Value` _type_ from `PlutusLedgerApi.V2` _does not_ ensure canonical form (or

[2022-08-01 22:48] JaredCorduan commented on #2941
I was vague, sorry. By canonical form, I meant handling the zero valued fields. I thought this what was [normalizeValue](https://github.com/input-output-hk/plutus/blob/a56c96598b4b25c9e28215214d25189331087244/plutus-ledger-api/src/Plutus/V1/Ledger/Value.hs#L182) was for, but poking around I don't see it being used. I see master is already different than the release branch, so yea, maybe bring that

[2022-08-02 01:45] JaredCorduan opened #2946 "Barebones conway era"
- [x] Create a new cabal package for the conway ledger era.
- [x] Create the rules mapping for the conway era, re-using all the babbage rules
- [x] Create all the class instance required for the conway era, re-using all the babbage logic
- [x] Create the babbage to conway translation, which will initially be entirely the identity map

[2022-08-02 01:53] JaredCorduan opened #2947 "Barebones conway test package"
- [ ] Create a new cabal package for the conway ledger era test suite
- [ ] Create the conway example for consensus. The [babbage example](https://github.com/input-output-hk/cardano-ledger/blob/dd4b6e31a05e3c02c6f00f0d53cf20e3b8b74468/eras/babbage/test-suite/src/Test/Cardano/Ledger/Babbage/Examples/Consensus.hs) can be re-used for this.
- [ ] Extend the generic testing framework in `cardano-ledger

[2022-08-02 02:02] peter-mlabs commented on #2941
Thanks again Jared! I'll try to keep this response shorter to not take up too much more of your time.

----

Can you re-confirm this statement for me?

[The haddocks](https://playground.plutus.iohkdev.io/doc/haddock/plutus-ledger-api/html/Plutus-V2-Ledger-Api.html#t:TxId) say SHA256. Is this incorrect? If so, I'll open a ticket on that repo.

----

of course, your comments make sense. But I think

[2022-08-02 02:13] JaredCorduan opened #2948 "Conway genesis"
In light of `CIP-1694`, this issue needs to be redone, so I have re-opened this issue. The conway genesis will now need to supply whatever new protocol parameters are added to conway. See #3146 .

The new parameters are:

- all the governance voting thresholds
- constitutional committee term limits
- governance action expiration
- governance action deposit (govDeposit)
- DRep deposit amount (drepD

[2022-08-02 03:18] yihuang commented on #2944
Isn't it very important as well that we define the canonical deterministic serialization choices we made, to keep the hashes reproducible by third-party?

[2022-08-02 11:25] KtorZ commented on #2943
Thanks for opening this ticket @Quantumplation :pray:

To answer your question @JaredCorduan about how to best address that, my best recommendation would be to stick to one canonical encoding (likely the definite one since that's also the one used by hardware devices) and not only rely on the memoization. I know this was raised in the past but as far as I remember the only rebuttal I heard was tha

[2022-08-02 16:39] #2946 closed, assigned to lehins

[2022-08-02 16:53] JaredCorduan commented on #2943
As always, thank you for all your help @KtorZ .

The decision to abandon canonical CBOR happened just before I joined IOG, but I can try to relay the history that I've pieced together. This topic comes up _a lot_, perhaps we could write down this history somewhere for posterity. @dcoutts probably remembers it best.

Canonical CBOR was definitely _not_ abandoned because it was too much effort or to

[2022-08-02 17:23] JaredCorduan commented on #2941
Conversations like this are my favorite part of my job. And improving life for Plutus developers is arguably the most important thing we can do for Cardano right now. So don't slow down on my account! :)

---

Absolutely. The _only_ hash that we use in the cardano ledger is blake2b. The link that you shared points to incorrect documentation, thank you very much for letting us know (opening an issu

[2022-08-02 17:24] KtorZ commented on #2943
*it saves one byte every time anyone uses a list or a map above ~length 23~ **length 256** !

Encoding a list of 23-256 elements only demand 2 bytes in the definite version. So the benefit is only for lists above 256 elements which I am not even sure are a thing because of the current maximum size of a value :sweat_smile: ... I haven't looked at the mainnet but I bet you 14 ADA that there's not a

[2022-08-02 17:46] JaredCorduan commented on #2943
good catch on the 23. but note that this optimization wasn't just made for `Value`. it was made for every list and every map!

https://github.com/input-output-hk/cardano-ledger/blob/93b5d5421a5b5c3a3b6ad89a74e8bdb2ccc9258c/libs/cardano-data/src/Data/Coders.hs#L1118-L1119

https://github.com/input-output-hk/cardano-ledger/blob/93b5d5421a5b5c3a3b6ad89a74e8bdb2ccc9258c/libs/cardano-data/src/Data/Code

[2022-08-02 19:08] peter-mlabs commented on #2941
Opened the issue, thanks for confirming.

But yes, in terms of the helper validation function, the _dream_ would be having a suite of such functions that can cover all of the different bits. I mentioned this above briefly, but the reason why we'd want a suite rather than (only) one big function is because the checks we're after are broadly split into:

- Things that don't make sense under any circ

[2022-08-03 04:42] #2939 closed, assigned to nobody

[2022-08-03 13:49] dcoutts commented on #2944
@yihuang no, it's important that people _not be mislead_ into thinking that there is a canonical representation. There is **not** a canonical representation. When you sign or hash the data, you must only hash the original bytes, and not a re-serialisation.

It's a very bad security practice to check signatures or hashes on re-serialised data. It must only be done on the original bytes. Otherwise i

[2022-08-03 13:53] dcoutts commented on #2943
It's a very bad security practice to check signatures or hashes on re-serialised data. It must only be done on the original bytes. Otherwise it leads to all sorts of nasty security problems (think txs with different bytes but that have the same hash).

Given that one must use the original bytes and not a re-serialisation, there is no need for a canonical representation. Indeed it would be quite mi

[2022-08-03 13:58] dcoutts commented on #2943
Yes. You're doing it correctly! :-)

Mwahahah! My evil plan to push people in the right direction (never re-serialise) worked!

It's entirely deliberate that it's not canonical, and indeed it was my hope and intention that there would be actual variation so that tool authors are not led down the wrong path (of re-serialising).

You see what would go wrong though right? Suppose we had said the ledg

[2022-08-03 14:25] yihuang commented on #2944
But shouldn't there be a specification or something, or do you mean the only specification is the Haskell code itself, what about the clients implemented in other languages?

[2022-08-03 16:23] JaredCorduan commented on #2944
@yihuang we have a wire specification (CDDL) for every ledger era. See the table at the top of the readme in this repository. For example, the latest one is here: https://github.com/input-output-hk/cardano-ledger/blob/11e4d4a8ac88adf33baf6b0602635bf37a53803e/eras/babbage/test-suite/cddl-files/babbage.cddl

[2022-08-03 17:33] yihuang commented on #2944
I mean the spec of the serialization details, so third-parties can reproduce the same result? Is there a complete doc on it that I'm not aware of?

[2022-08-03 18:06] JaredCorduan commented on #2944
no, there is no such a document. there is also no good reason for anyone to try to reproduce the exact arbitrary choices that our code uses which is not captured by the CDDL spec. if they are, they are likely doing exactly what we are trying to prevent. See https://github.com/input-output-hk/cardano-ledger/issues/2943#issuecomment-1203989504

[2022-08-03 18:11] Quantumplation commented on #2943
@dcoutts you might want to start a conversation with the ledger team; so far as I know, the reason we're being squeezed into this bottle is because the ledger hardware wallets will deserialize the tx to show data to the user, and then when it comes to sign things, it re-serializes to their choice of encoding.  This invalidates datums, multiparty signatures, etc.

I tried to do some convincing but

[2022-08-03 18:13] Quantumplation commented on #2943
(and by ledger team, I mean the hardware wallet Ledger, and potentially trezor, not the cardano ledger team, which would be... Yourself lol 😅)

[2022-08-04 00:42] yihuang commented on #2944
I can think of at least one case though, implement Cardano in different languages, or do you mean even if the alternative client don't serialize a block in exact way, it still works, because the other nodes won't try to re-serialize it? Hmm, if that's the case, that would make sense though.

[2022-08-04 01:00] JaredCorduan commented on #2944
exactly! if everyone conforms to the CDDL spec, and does not re-serialize, then everything works.

[2022-08-04 11:42] dcoutts commented on #2944
Exactly. The spec is the CDDL, and there is no need for other interoperable implementations to serialise in exactly the same way so long as they follow the CDDL specification.

[2022-08-04 11:43] dcoutts commented on #2943
I know the hardware ledger people want to serialise the txs themselves, rather than checking a serialised tx that is passed in to them. For that reason they have created a CIP for a canonical encoding that hardware ledger devices can use, so that they can be interoperable with each other.

[2022-08-04 15:14] dcoutts commented on #2943
It's a bit more subtle than that. They do _not_ deserialize the tx at all. They get passed the info needed to _construct_ a tx. So they actually construct, serialise and sign the tx on the hardware device. This avoids them having to have a decoder, in their limited resources.

So similarly, there's no re-serialisation. They just serialise once.

But if you want the _same_ tx to be signed by _diffe

[2022-08-04 18:26] peter-mlabs opened #2958 "Alonzo spec linked in README is marked "draft"."
Is this accurate or up to date? If so, where can I find more information about this?

[2022-08-04 19:19] JaredCorduan commented on #2958
Apologies, it should not be marked as draft. It should be marked as public, it is up to date.

[2022-08-04 21:47] peter-mlabs commented on #2958
Great, thank you!

[2022-08-04 22:18] Quantumplation commented on #2943
@dcoutts I'm not sure if that aligns with my experience. If that is the case, that makes a decent amount of sense, if still a bit gumbly. But if that were the case, I don't see why Ledger transactions on sundae would be failing right now.  When I was speaking to someone about it, they told me it was because the map keys on the txs we were building were out of order and the collateral was serialize

[2022-08-06 16:11] waalge opened #2961 "(more) serialization issues"
I'm trying to bump node version from 1.34.x to 1.35.2.

I have a bunch of code that depends on plutus-apps, cardano-api, and cardano-ledger.

TBH I'm pretty confused about the overlap of typing between modules/libs, and I'm not sure what/where is responsible for the serialization into CBOR of which bits.
The output of
[code]
used to be acceptable to a nami wallet. Since bumping, no longer.

An exa

[2022-08-08 10:04] waalge commented on #2943
I think this is reasonable, but I don't think this is where we are.
Web wallets do deserialize (and some reserialize, while others... are black boxes?)... In any case, they only return the signature without the data they signed.
CIP30 is vague on what should actually happen here ( _and return a signed transaction_ ).

If the serialized form should be treated as a (the) first class citizen in carda

[2022-08-08 12:35] waalge commented on #2961
I was looking at an out dated version of the cddl.
Its clearly not an extension of alonzo any longer.

[2022-08-08 12:35] #2961 closed, assigned to nobody

[2022-08-08 14:12] JaredCorduan commented on #2961
It actually is backwards compatible. In particular, for transaction outputs:

https://github.com/input-output-hk/cardano-ledger/blob/275f90cfcd580d5102206953e69ae099aa45f216/eras/babbage/test-suite/cddl-files/babbage.cddl#L75

Where `legacy_transaction_output` uses a list and `post_alonzo_transaction_output` uses a map.

---

The ledger (this repo) is responsible for the serialization of transacti

[2022-08-08 15:01] waalge commented on #2961
Sorry - yes, you're right. What I meant is that I've yet to figure out how to coerce the api to choose the alonzo-style encoding.
Both nami and eternl seem unhappy with the new TxOut format. My version of nami is likely too old, but that is transparently dependent on the CSL (it was emurgo back then). Eternl is new but... is a black box.

From my attempts, they are _only_ supporting the legacy ver

[2022-08-08 15:13] JaredCorduan commented on #2961
Both nami and eternl seem unhappy with the new TxOut format. My version of nami is likely too old, but that is transparently dependent on the CSL (it was emurgo back then). Eternl is new but... is a black box.

I see, that helps a lot, thank you for the context. Unfortunately, that is out of my wheelhouse (as are the rest of the folks that regularly work in this repo).

---

That definitely explai

[2022-08-08 15:24] waalge commented on #2961
I appreciate your engagement with this nonetheless

Alas, such time is a luxury.

Someone has recently added an `EraCast` module to the cardano-api. That might work here, but its not made it the 1.35.x branches yet which I'm currently dependent on.

[2022-08-08 15:42] JaredCorduan commented on #2961
I hope I did not dismissive or unappreciative of how much effort this involves! I totally understand, I meant "just update" in the sense that we've properly identified your problem.

[2022-08-08 20:12] JaredCorduan opened #2964 "JSON instance for the conway genesis (translation context)"
The translation context for the `babbage` to `conway` translation needs a JSON instance, so that the node can read it (perhaps only the FromJSON is strictly needed). This type is called `ConwayGenesis` in the current PR which is introducing it:

https://github.com/input-output-hk/cardano-ledger/pull/2963/files#diff-3c9fe790c16d5a6640ba287c05e6a7bcb067d8f6a90f2dc929f34ad4a691207eR10

[2022-08-08 20:42] JaredCorduan opened #2965 "duplicate keys in CBOR map decoding"
The helper function used by the ledger to deserialize CBOR maps does not reject duplicate keys as it should. Unfortunately, a hard fork is required to fix this issue.

Since we have to fix this at a hard fork, and maintain the existing serialization up until the moment of the hard fork, this is a tricky issue to fix. Especially since it involves any map used inside a transactions, and since our `T

[2022-08-09 01:36] peter-mlabs commented on #2941
[Related discussion](https://github.com/input-output-hk/plutus/issues/4476).

[2022-08-09 12:43] #2958 closed, assigned to nobody

[2022-08-09 14:10] michaelpj commented on #2941
This is a very long thread, I'm going to attempt to try to respond to it below, please correct me if I've misrepresented anyone.

I think Peter's primary desires are:
1. To know whether certain `ScriptContext`s cannot occur in practice, because the transactions that would give rise to them are invalid, or for other reasons. This is in order to simplify his validators by not handling the impossible

[2022-08-09 14:29] michaelpj commented on #2941
Another thing: I think it is a real awkward point that this sits between the ledger and plutus. It really is the case that if you want to write a dapp, you need to know quite a lot about the ledger, more than any other kind of user, and the only way to get that information is by reading the spec. I have been arguing for some time that I would like to have some kind of medium-detail ledger conceptu

[2022-08-09 14:35] JaredCorduan commented on #2941
indeed! @michaelpj knows I am also very fond of this idea. (You can find in page "dreamed of" in this long conversation to see me expressing the same thing).

[2022-08-09 14:50] JaredCorduan opened #2968 "conway CDDL spec"
The conway CDDL spec may very well be identical to the babbage spec. We do not need to copy the spec (in my opinion, but I am open to opinions from others), but we should make it clear somehow that the conway wire spec is the babbage wire spec (for as long as this holds true).

[2022-08-09 14:52] JaredCorduan opened #2969 "Run existing era-generic tests in conway"
The work to extend the era-generic framework to conway was done in  #2967, but the tests are not actually being run in conway yet (neither the unit tests / examples, or the property tests). Add the tests to our test suite.

[2022-08-09 14:53] JaredCorduan commented on #2947
I removed two parts of this issue into their own issues: #2968 #2969

[2022-08-09 16:43] peter-mlabs commented on #2941
Thanks for your response @michaelpj; I'm very appreciative that you've obviously taken the time to read through the extended discussion between Jared and I.

I think that your first three points are spot on, and I would say that they're basically a spectrum from "a perfect world" to "what we'll suffer through if we must" from the perspective of developers. One of the things that drew me to Haskell

[2022-08-09 18:55] #2964 closed, assigned to Soupstraw

[2022-08-09 19:58] L-as commented on #2941
For testing, I can recommend looking into https://github.com/mlabs-haskell/plutus-simple-model, it uses `cardano-ledger` directly but is otherwise really just like `EmulatorTrace` AFAICT.

[2022-08-09 20:06] L-as commented on #2941
There's a very good reason for it: Substantial efficiency improvements.
Dealing with `Value` with no guarantees is much less efficient than if you have guarantees. E.g. https://github.com/input-output-hk/plutus/pull/4710 happened because there was no guarantee about `0`s in the `Value`. In Plutarch, we (ab)use this information to give you efficient operations over `Value`s. E.g. checking **real**

[2022-08-10 01:32] JaredCorduan commented on #2903
closed by #2953

[2022-08-10 01:32] #2903 closed, assigned to TimSheard

[2022-08-10 10:51] michaelpj commented on #2941
EDIT: damn, accidentally posted before I was done, some more added afterwards.

I think it would be helpful to try and extract from this thread a list of specific places where we can adopt strategy 1 or 2.

I mean, you only need to remember about the pieces you actually work with. A developer who has 0 domain knowledge can't realistically do anything with transactions. And you don't need much to g

[2022-08-10 13:56] Soupstraw commented on #2944
@Quantumplation, what do you mean by

[2022-08-10 14:50] Quantumplation commented on #2944
@Soupstraw Consider collateral, for example.  If no collateral is specified, the cardano-api code will serialize the transaction body as a map, with key 13 set to an empty list:

[code]

whereas it is also a valid encoding (and the one preferred by hardware wallets, it appears) to just leave the `13` key out of the map entirely
[code]

The same thing applies to a few other fields, IIRC

[2022-08-10 15:43] JaredCorduan commented on #2944
right, so what @Quantumplation is referring to is not an ambiguity in CBOR, but rather in our CDDL. We often have optional keys in maps, and there is no semantic difference between leaving that key out, or including that key with a `mempty` value.

[2022-08-10 17:39] #2968 closed, assigned to nobody

[2022-08-10 17:39] #2969 closed, assigned to nobody

[2022-08-10 17:39] #2947 closed, assigned to TimSheard

[2022-08-11 09:06] Soupstraw commented on #2944
Ahh, I see, thanks for clarifying!

[2022-08-12 12:48] coot opened #2974 "`cardano-ledger` is not compatible with the latest `cardano-base`"
`plutus` depends on a slightly newer version of input-output-hk/cardano-base@cc049d7c9b9a0129c15b1355fd1dff9e1a1a551c. However, when using it in this repo there's a build error:

[code]

This is a bit confusing exactly because `plutus` is already using that git-sha of `cardano-base`,
so maybe there's something else going on.

[2022-08-12 13:16] #2974 closed, assigned to nobody

[2022-08-15 16:14] #2928 closed, assigned to teodanciu

[2022-08-16 14:16] JaredCorduan opened #2980 "NixOS warning for LC_ALL="C.UTF-8""
NixOS gives a warning when using `LC_ALL="C.UTF-8"`. We use this here:

https://github.com/input-output-hk/cardano-ledger/blob/2eafa6e55723c4cd2ef04911674e8f66830661d5/shell.nix#L62

Using `LC_ALL=en_US.utf-8` works on NixOS, but not everywhere else. It would be nice to have a solution that works everywhere.

See https://input-output-rnd.slack.com/archives/C03T9003RK5/p1660655829143089

[2022-08-18 00:20] nfrisby opened #2982 "Stale Haddock on PState"
https://github.com/input-output-hk/cardano-ledger/blob/389b266d6226dedf3d2aec7af640b3ca4984c5ea/eras/shelley/impl/src/Cardano/Ledger/Shelley/LedgerState/DPState.hs#L137-L145

I'm fairly certain there are no certificate counters within that data type definition.

[2022-08-18 12:17] JaredCorduan commented on #2444
Though not necessarily a bug, I think we might want to consider this a wart worth cleaning up in the future.

[2022-08-18 22:38] #2882 closed, assigned to Soupstraw

[2022-08-19 14:11] ashisherc commented on #2444
Thanks @JaredCorduan !

[2022-08-22 15:21] JaredCorduan opened #2987 "More conway instances"
We need conway instances for:
* `NoThunks (ConwayGenesis c)`
* `GetLedgerView (ConwayEra c)`
* `Arbitrary` instances used for serialization (ie a `Test.Cardano.Ledger.Conway.Serialisation.Generators` module)

---

As a side note for the future: the next time that we look to #2946 and #2945 as a guide to what work is needed for a bare bones ledger era, we can remember this issue.

[2022-08-22 15:32] JaredCorduan opened #2988 "Instances needed for proper master key rotation"
In input-output-hk/ouroboros-network#2963, an the `TranslateEra LedgerState` instance was used to rotate the master keys. This should suffice for mainnet, and other networks that begin in the Byron era, but questions remain about Shelley-only networks. In particular, do we need instances for `CanStartFromGenesis` and `AdditionalGenesisConfig`, and do we need to translate `ShelleyGenesis` via `Tran

[2022-08-22 19:29] #2982 closed, assigned to nobody

[2022-08-23 22:46] JaredCorduan commented on #2987
closed by #2989 and #2990

[2022-08-23 22:46] #2987 closed, assigned to lehins

[2022-08-24 12:27] JaredCorduan commented on #2805
resolved by  #2954

[2022-08-24 12:27] #2805 closed, assigned to teodanciu

[2022-08-25 11:31] lehins opened #2998 "Upgrade to cabal 3.8"
Cabal-3.8.1 has been released and includes a fix for the https://github.com/haskell/cabal/issues/3579

We need to specify a new version in the nix shell and adjust the cabal.project to have only one top level `-Werror`

[2022-08-25 11:43] lehins opened #2999 "Bring all cabal files up to date"
Things like year in the copyright, maintainer email, author, description in all of the cabal files in the repo are outdated. This ticket tracks a task to go through all of them and bring them up to date.

Please comment on this ticket what the correct information should be and the assignee will take care of the update.

[2022-08-25 12:15] JaredCorduan opened #3000 "Provide txid details in spec"
The function that computes the transaction ID in the Shelley ledger spec is left abstract. We should make clear the implementation details in appendix A, though. (Probably A.5, with a reference to A.1).

[2022-08-25 13:15] lehins opened #3001 "Rename AuxiliaryData consistently across all eras"
Current naming is quite inconsistent and should be fixed.

The consensus throughout the team is to name the core type family `TxAuxData`, which means:

* The class will look like this:
[code]

* And the concrete types per era will be placed into `Cardano.Ledger.[Era].TxAuxData`. This would be an example on Alonzo

[code]

[2022-08-25 13:50] Soupstraw opened #3003 "CBOR deserializer can't decode indefinite-length keyhashes"
The CBOR deserializer fails with `DeserialiseFailure 0 "expected bytes"` when trying to deserialise the following bytes into a `KeyHash Staking' (AlonzoEra C_Crypto)`:
[code]
Similar bugs seem to appear in other places as well, since all (?) deserialisers seem to not be agnostic in terms of finite/indefinite lists and bytestrings.

[2022-08-25 16:06] JaredCorduan commented on #2999
@kevinhammond recommend that we be consistent with the packages in the cardano-node repository with respect to the maintainer email and author:

[code]

[2022-08-26 18:14] JaredCorduan commented on #2988
The ledger does not need to use `TranslateEra ShelleyGenesis` to rotate the master keys, we have a plan for consensus that will let us get rid of these instances in general (see https://github.com/input-output-hk/ouroboros-consensus/issues/409).

We still want to add a `CanStartFromGenesis ConwayEra` instance, though, where `AdditionalGenesisConfig` is something isomorphic to `(AlonzoGenesisConfig

[2022-08-26 19:07] JaredCorduan opened #3005 "Better documentation on the Examples"
The `cardano-ledger-test` package contains some unit tests that also serve as [examples](https://github.com/input-output-hk/cardano-ledger/tree/master/libs/cardano-ledger-test/src/Test/Cardano/Ledger/Examples) and use cases. They are often not described nearly as well as they could be.

For example:

[libs/cardano-ledger-test/src/Test/Cardano/Ledger/Examples/BabbageFeatures.hs:539-543
](https://gi

[2022-08-29 23:17] #2934 closed, assigned to JaredCorduan

[2022-08-30 13:05] #2940 closed, assigned to JaredCorduan

[2022-08-30 13:18] JaredCorduan commented on #2905
`setMinCoinSizedTxOut` from #3008 computes the fixed point given the protocol parameters and a transaction output, and returns the transaction output with the lovelace modified to the fixed point.

[2022-08-30 19:24] #2933 closed, assigned to Soupstraw

[2022-08-31 16:17] dnadales opened #3013 "Add support for UTxO HD"
With the introduction of UTxO HD the `LedgerState`  type family gained an extra parameter:

[code]

The extra parameter is intended to represent the "map kind", which refers to the
different type of "tables" that can be found in an instance of consensus'
`LedgerState`, eg:

[code]

At the moment the ledger can remain blissfully ignorant of this additional
parameter, and the fact that consensus man

[2022-08-31 19:12] JaredCorduan opened #3014 "Versioned serialization schemes for types"
# The problem

When we encounter a problem with our deserializers, such as in #3003, #2965 and  #2444, it can be very difficult to implement a fix. It is difficult because we can only fix such issues during a hard fork, and leading up to the hard fork we must maintain two serializations for the same type in order to not cause unintended network splitting (the problematic version must be used befor

[2022-08-31 19:29] JaredCorduan opened #3015 "Add doctests to our CI"
https://hackage.haskell.org/package/doctest

Note that we disabled doc tests in https://github.com/input-output-hk/cardano-ledger/pull/2793, they were depending on oleg.fi being available.

[2022-09-01 10:18] michaelpj commented on #3014
My $0.02.

We have a similar problem in `plutus` with our serialization for scripts. I think the considerations are the same although t they're slightly different libraries. What we do at the moment is we don't use the typeclass that the library provides, but rather we just use explicit decoder values. For CBOR this would be something like:
[code]

It's a bit clunky, but it works okay. You can als

[2022-09-02 17:57] #2931 closed, assigned to teodanciu

[2022-09-02 19:56] JaredCorduan opened #3021 "ToJSON and To/FromCBOR instances for conway genesis"
Implement the following instances for the `ConwayGenesis` type:

- [x] ToJSON
- [x] ToCBOR
- [x] FromCBOR

[2022-09-06 16:10] Soupstraw commented on #2988
There already seems to be a `CanStartFromGenesis` instance for `ConwayEra` ([added here](https://github.com/input-output-hk/cardano-ledger/commit/c3a46e04244404261bb7fddc2629ddb0729c7927#diff-e106c7b5b8a971b311fc101be676dcc1a5b13d1111f36a070d7699c6e68b1ab7R51))

[2022-09-06 19:53] HeinrichApfelmus commented on #3014
I second @michaelpj 's suggestion — for a slightly different reason.

In cardano-wallet, we always have trouble finding the piece of code that is responsible for serializing/deserializing a specific type, because it's hard to figure out which instance of which type class is selected (this information is inferred from the code, but not written explicitly). So, usually we end up with "Hm, I think it

[2022-09-07 09:16] #2944 closed, assigned to Soupstraw

[2022-09-07 12:58] Soupstraw opened #3025 "Enable CBOR Twiddler tests once CBOR bugs are fixed"
The CBOR Twiddler PR added some [round-tripping tests](https://github.com/input-output-hk/cardano-ledger/pull/2994/files#diff-b78b314a96e70b1406ca120978531a91ecb4a25fedb74ff759ea13a42b11cb45R97-R122).

At the moment these tests are skipped due to some bugs in the CBOR serializer/deserializer (e.g. #3003, #2965,  #2444). The twiddler tests should be re-enabled once these bugs are addressed.

It wou

[2022-09-07 12:59] Soupstraw opened #3026 "Enable CBOR Twiddler tests"
The CBOR Twiddler PR added some [round-tripping tests](https://github.com/input-output-hk/cardano-ledger/pull/2994/files#diff-b78b314a96e70b1406ca120978531a91ecb4a25fedb74ff759ea13a42b11cb45R97-R122).

At the moment these tests are skipped due to some bugs in the CBOR serializer/deserializer (e.g. #3003, #2965,  #2444). The twiddler tests should be re-enabled once these bugs are fixed.

It would a

[2022-09-07 12:59] Soupstraw commented on #3026
duplicate

[2022-09-07 12:59] #3026 closed, assigned to nobody

[2022-09-07 15:09] #2930 closed, assigned to Soupstraw

[2022-09-08 21:19] #2929 closed, assigned to Soupstraw

[2022-09-10 19:19] #2998 closed, assigned to teodanciu

[2022-09-12 17:50] JaredCorduan commented on #3014
The reason that you probably cannot always trust the inferred serialization is because when we do find bugs, we cannot easily fix the bug, and have to work around it at an upstream type. My hope for a `versionedToCBOR` would be that you _could_ always trust it.

[2022-09-12 17:55] JaredCorduan commented on #2988
Ah, you are right @Soupstraw . The question still remains, though, if we have the correct behavior.

The current `CanStartFromGenesis` for conway is potentially a source for confusion. We are using the conway genesis to override the master keys in the shelley genesis. So if you are starting in conway (which is what the `CanStartFromGenesis` class is used for), the shelley master keys are entirely

[2022-09-12 21:00] JaredCorduan opened #3034 "Use of calculatePoolDistr on the epoch boundary"
Large computations on the epoch boundary are problematic. In the past they have lead to delayed block production in new epochs. For this reason, we have made the reward calculation and the (per stake credential) stake distribution calculation incremental. At least one remaining epoch boundary calculation remains, however, that we should consider handling in a better way, namely the per-stake-pool

[2022-09-13 14:05] HeinrichApfelmus commented on #3014
Yes and no. The trouble is that I'm often not sure which type I call `toCBOR` on — it might not even be the type `Tx` that I'm interested in. In that sense, `serializeTx :: Tx -> ByteString` would give me some additional type safety / visibility.

[2022-09-13 14:15] JaredCorduan commented on #3014
Our types are often too polymorphic for that. Here's a good example that I stole from @lehins :

[code]

  We need to rely on type classes (or something equivalent) in order to decode `body` and `wits`.

[2022-09-13 14:18] lehins commented on #3014
@HeinrichApfelmus This a classic argument type classes vs monomorphic function. Some people say you should embrace them, some say they are evil. You can make the same argument for almost any prominent type class in Haskell community. Be it To/FromJSON, Vector and MVector type class, any serialization library (binary, serialize, persist, etc), mtl vs transformers, etc.

My argument is, type classes

[2022-09-13 14:32] lehins commented on #3014
To expand on the example @JaredCorduan posted above, `Core.TxBody era` and `Core.TxWits era` are type families parameterized on `era`, which means if we were to go the monomorphic route we'd have to write a separate deserializer for `AlonzoTx` for every `era` that it is used in (i.e. `Alonzo`, `Babbage`, `Conway` and possibly later ones as well) and for every crypto the era is parameterized on. So

[2022-09-13 16:31] michaelpj commented on #3014
I'm not saying that the deserialisers need to be monomorphic! In fact, the Plutus ones are highly polymorphic. Just that having them be functions rather than typeclass methods avoids tying you to an upstream interface, which can be helpful.

[2022-09-13 16:43] lehins commented on #3014
@michaelpj Do you mind sharing a link to a few modules in a Plutus repo where there examples of highly polymorphic deserializers. I'd like see some concrete examples of what you mean.

[2022-09-13 17:07] HeinrichApfelmus commented on #3014
Fair enough. 🤔 My trouble is about imposing some type constraint, whether that is done through `@` or a name suffix `Tx` does not matter.

I guess that the specific function from the ledger that made me nervous is `toCBORForMempoolSubmission` — I don't know if that is equal to, or supposed to be equal to the `toCBOR` instance unless I look at the source code. The alternative is `toCBORForSizeCompu

[2022-09-13 17:53] lehins commented on #3014
I have no idea why `toCBORForMempoolSubmission` is even exported, it is an internal detail and `toCBOR` is always the right choice.

[2022-09-13 21:01] JaredCorduan opened #3035 "benchmark TICKF"
We need realistic benchmarks of the `TICKF` rule in order to determine if #3034 is a real problem.

---

The consensus layer calls `TICKF` once per slot to determine if a block producing node has been elected leader. When the slot in question is in a new epoch (relative to the last ledger view that the consensus layer has stored), this results in a potentially expensive computation (see #3034).

`

[2022-09-13 21:36] lehins commented on #3035
First task is practically done, we have benchmarks that take **mainnet** `NewEpochState` in cbor encoded form and run various benchmarks using that state:

https://github.com/input-output-hk/cardano-ledger/blob/1176affe9b2a7a3b50c1ceda00cc92f237ea6360/libs/ledger-state/bench/Performance.hs#L39-L45

All it needs is a change of `CurrentEra` to `Babbage`, since now it is set to `Alonzo`

[2022-09-14 11:49] Soupstraw commented on #2910
Resolved by #2924

[2022-09-14 11:49] #2910 closed, assigned to nobody

[2022-09-15 11:12] Soupstraw opened #3037 "Make the CI abort actions on older commits when a new commit gets pushed"
Right now the CI seems to continue running actions on older commits when I push newer commits to a PR branch. This results in a lot of spam in my notifications and also probably clogs up the CI job action queue.

It might be a good idea to halt all previous actions once a new commit gets added, so that the actions will only be run on the latest commit in a PR.

[2022-09-15 13:12] Soupstraw commented on #3013
I'm assuming that's the related PR on `ouroboros-network`: input-output-hk/ouroboros-network#3863

[2022-09-15 14:27] dnadales commented on #3013
Yes, indeed. Note that this is still in the prototyping phase :scientist:

[2022-09-15 14:32] Soupstraw commented on #3013
Alright, I'll leave it be for now, but I'll be happy to work on this once the linked PR is ready.

[2022-09-15 14:39] JaredCorduan commented on #3013
That's fine. but I do think a lot of the work on the ledger side could be done in parallel (at the risk of things not going as planned when we go to integration).

[2022-09-15 18:03] JaredCorduan commented on #2943
@Quantumplation - I've added warnings to the Shelley formal spec about not re-serializing (in the appendix about all the cryptographic details). And we've added more noise to the serialization generators to account for the ambiguities (see  #2944). Are you happy to close this issue?

[2022-09-15 18:25] Quantumplation commented on #2943
@JaredCorduan Excellent, more than happy :) thanks for going above and beyond for a seemingly small thing even when so much else is going on ❤️

[2022-09-15 19:00] KtorZ commented on #2943
❤️

[2022-09-15 23:20] #2943 closed, assigned to nobody

[2022-09-16 01:57] TimSheard opened #3040 "Look further at: MissingScriptWitnessesUTXOW (fromList [])"
In https://github.com/input-output-hk/cardano-ledger/pull/3039 we fixed the seemingly random
`MissingScriptWitnessesUTXOW (fromList [])` failure, by discarding traces where there was an unnecessary script witness.

It would be better to not generate transactions with these extra script witnesses. But this seems quite difficult to do, as generating
witnesses is intricately tied up with the fix-poin

[2022-09-16 12:00] TimSheard commented on #3001
This issue was closed by PR #3032

[2022-09-16 12:00] #3001 closed, assigned to TimSheard

[2022-09-16 13:40] #3021 closed, assigned to Soupstraw

[2022-09-16 13:43] Soupstraw commented on #2905
Resolved according to previous comment

[2022-09-16 13:43] #2905 closed, assigned to nobody

[2022-09-17 22:35] JaredCorduan commented on #2902
the last piece of the puzzle here will be solved by #3014 :raised_hands: (namely how to gracefully change the serialization at a hardfork boundary)

[2022-09-17 22:50] JaredCorduan opened #3042 "Simplify CostModel internals"
The `CostModel` type contains a `Map Text Integer` named `cmMap`:

https://github.com/input-output-hk/cardano-ledger/blob/3f5123c3ae009ec1ac2779410da6604a236e67f2/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs#L231-L235

Change the type of `cm` to be `[Integer]`.

---

## Context for those curious

This map `cmMap` is _only_ used by the ledger to create a Plutus evaluation context (of type

[2022-09-17 22:59] #1676 closed, assigned to teodanciu

[2022-09-18 00:53] JaredCorduan commented on #1676
:tada: :wave: :tada:

[2022-09-19 07:02] ghost opened #3043 "Incorrect conversion of validity interval's upper bound"
Recently, we have switched to cardano-ledger in plutus-apps instead of using our own validation rules. We have found that `transVITime` behaviour seems to be incorrect.

It takes the upper bound and uses `PV1.to` function that creates a closed upper bound.
[code]

While the validity interval is defined as a half open interval, open on the top.

[code]

The proper implementation should be

[code]

[2022-09-20 08:59] michaelpj commented on #3014
Ah, I see the issue. We don't have any examples with type families, that *does* make things tricky because you need to pass around deserializers for the parts, either as explicit values or as typeclass dictionaries, and the typeclass dictionaries sure are more convenient.

In `plutus` we do indeed use typeclasses for values of the actual types that we are polymorphic over, but usually that's just

[2022-09-21 11:03] #2932 closed, assigned to Soupstraw

[2022-09-22 10:22] dnadales commented on #3013
Right, the fact that this is still a prototype does not mean the ledger team cannot work on it as soon as it has the capacity :)

[2022-09-23 11:44] lehins commented on #2446
With regards to displaying Predicate failures in the CLI to the user then `pretttyprinter` is a good choice. However general rule of thumb with the logs `String` or pretty printing should not used. Structural logs that are easy for parsing is preferable and they should use a `Builder` instead  of a `String` or `Text` for efficiency reasons.

[2022-09-23 11:51] lehins opened #3046 "Move `Data.AbstractSize` module into `byron` codebase"
The `cardano-data` package contains  `Data.AbstractSize` module, which is only used in `byron` era. For this reason we should find a home for it in one of the `eras/byron` packages.

[2022-09-23 11:56] lehins commented on #3046
Assigned to @aniketd

[2022-09-23 12:18] lehins opened #3047 "Rename `Cardano.Ledger.Mary.Value.insert/lookup`"
`insert` and `lookup` are very common functions from `containers` and even `base`. They need to be renamed in order to be more descriptive:

* [ ] - rename `insert` -> `insertMultiAsset` and `lookup` -> `lookupMultiAsset`
* [ ]  - add `DEPRECATE` pragmas for synonyms `insert = insertMultiAsset` and `lookup = lookupMultiAsset`.

[2022-09-23 13:33] AndrewWestberg commented on #3034
Please prioritize this fix high if you can. This is a lot of lost blocks across many pools that happen in this epoch transition dead-zone.

[2022-09-24 09:37] erikd opened #3048 "Please move RewardType to cardano-ledger-core"
Currently the `RewardType` is defined in `cardano-ledger-shelley` which eventually depends on `plutus-tx`. Since the `RewardType` is needed in the `cardano-db` package, having to provide the Plutus dependencies is a bit of a pain in the neck.

If the definition of `RewardType` was moved to `cardano-ledger-core` things would be improved vastly up the stack.

[2022-09-26 10:50] lemmon-714 opened #3050 "Feature request: Complete current specs in one document"
It seems right now to follow the format base specs + diffs for each era; would be easier to follow if there would exist a document containing the complete currently valid specs. The diff-specs are still useful however, particularly once one is up to speed.

[2022-09-26 18:33] JaredCorduan commented on #3050
I agree completely, we've talked a lot about this internally. The plan is to use https://github.com/input-output-hk/formal-ledger-specifications to create the full specs.

In the meantime, someone could create some kind of way to parse the latex specs and create the combined specs. I'd be afraid of anything that was not mechanical, though, for fear of drift and maintenance. My team does not have t

[2022-09-26 18:38] JaredCorduan commented on #3034
yes, it's a high priority. we are  building out some bench-marking tools for this, so that we don't end up on a wild goose chase, and so that we can be sure we've solved it.

[2022-09-26 21:48] JaredCorduan commented on #3043
I agree, this is a bug. The ledger is translating `[-∞, ttl_slot)` to `[-∞, ttl_posix]` inside the transaction context. Thank you for raising this @ak3n ! We will do our best to fix this at the next hardfork.

[2022-09-27 16:17] #3047 closed, assigned to nobody

[2022-09-28 13:55] JaredCorduan opened #3056 "auxiliary_scripts incorrect inside CDDLs specs"
Every ledger era strictly past Shelley has had a field named `auxiliary_scripts` inside the auxiliary data. The CDDL spec is incorrect for this field in every era. It _should_ be specified as containing an array of _scripts_: `auxiliary_scripts: [ * script ]`, _not_ a list of native scripts. The `script` type is a tagged wrapper around the different script types, as defined here in the Babbage CDD

[2022-09-28 17:04] #3046 closed, assigned to nobody

[2022-09-29 15:29] JaredCorduan commented on #3000
resolved by  #3002

[2022-09-29 15:29] #3000 closed, assigned to JaredCorduan

[2022-09-29 19:12] JaredCorduan commented on #3056
:facepalm: I just misread the CDDL file. indeed the tests are working great.  I missed the **disjunction** in the wire spec.

* babbage: https://github.com/input-output-hk/cardano-ledger/blob/677bf5825c34f4f9be70ca45fc836b2b72136451/eras/babbage/test-suite/cddl-files/babbage.cddl#L344-L348
* alonzo: https://github.com/input-output-hk/cardano-ledger/blob/677bf5825c34f4f9be70ca45fc836b2b72136451/era

[2022-09-29 19:12] #3056 closed, assigned to nobody

[2022-10-03 12:27] lehins opened #3060 "Fix `Ord` instance for `Reward` type"
Current `Ord` instance for `Reward` violates the law `compare r1 r2 == EQ ==> r1 == r2`

[code]

This violates referential transparency and prevents libraries like `containers` that depend on `Ord` instance to function properly

In fact this bug is intentionally being abused in `aggregateRewards` and `filterReward` where `Set Reward` is being used.

[2022-10-03 13:00] dnadales commented on #3035
I'll link this PR here in case it provides relevant information for y'all https://github.com/input-output-hk/ouroboros-network/pull/4014

[2022-10-05 13:31] aniketd opened #3061 "Remove _ prefix from record accessor names under shelley/impl."
Post the move away from using lenses, some of the record accessor names remained prefixed with `_`.
- [x] Replace `_` prefixed names with better names
- [x] ~~Add `DEPRECATED` standalone functions for those that are being used downstream to avoid any breakage~~

This is related to #2927 and its corresponding PR #3045 with some code overlap.

List of data types that would need to be addressed with

[2022-10-06 11:46] JaredCorduan opened #3064 "remove `assertWellFormedCostModelParams`"
The `Cardano.Ledger.Alonzo.Scripts` module re-exports the `plutus-ledger-api`'s `assertWellFormedCostModelParams` :   https://github.com/input-output-hk/cardano-ledger/blob/4d850025a11c2ce4897303d15f0cbf99eae4203f/eras/alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs#L112

This function is no longer used by the ledger and should be removed since it will soon be deprecated in `plutus-ledger-api`.

[2022-10-06 12:20] aniketd commented on #2742
Notes from discussion:
- UTxO
- PoolParams
- EpicBoundary (hold off until updates are decided)
- Orphans

[2022-10-06 20:17] JaredCorduan commented on #2742
these two from EpochBoundary seem good:

* `Cardano.Ledger.Shelley.EpochBoundary.SnapShots`
* `Cardano.Ledger.Shelley.EpochBoundary.SnapShot`

more ideas:

* `Cardano.Ledger.Shelley.LedgerState.Types.AccountState`
* `Cardano.Ledger.Shelley.PoolParams.PoolMetadata`

[2022-10-06 20:54] #3064 closed, assigned to JaredCorduan

[2022-10-07 20:43] #3048 closed, assigned to JaredCorduan

[2022-10-10 11:29] Soupstraw opened #3067 "Document the `Twiddle` module"
The `Test.Cardano.Ledger.Binary.Twiddle` module should have more comments and documentation for the functions and classes.

[2022-10-10 19:35] lehins opened #3071 "Investigate how and where `encodedSizeExpr` is being used"
There is a fairly involved computation attached to `ToCBOR` type class in the form of `encodedSizeExpr` and `encodedListSizeExpr` functions. Considering that most of types in ledger lack an explicit implementation it begs a question: Is it still being used?

Close this ticket when these questions have been answered:

* [ ] - Where is `encodedSizeExpr` is being used (which repos, packages) and how?

[2022-10-10 19:37] lehins commented on #3071
Linking a:
* Relevant ticket that is still opened: #1460
* Recent PR that added custom implementation for block header: #1433

[2022-10-12 09:48] pgrange opened #3074 "Can not build the ledger"
I'm trying to build cardano-ledger on my machine and it fails with:

[code]

# Finding build instructions

I went through the following path to look for build instructions:
1. Look at [CONTRIBUTING.md](https://github.com/input-output-hk/cardano-ledger/blob/master/CONTRIBUTING.md)
2. Read and apply [section Building of README.md](https://github.com/input-output-hk/cardano-ledger#building)

# System

[2022-10-12 11:47] JaredCorduan commented on #3074
hi @pgrange, thank you for letting us know.

The [build instructions](https://github.com/input-output-hk/cardano-ledger#building) that you linked to say to build using cabal inside of a nix-shell. Does that work for you?

[2022-10-12 12:03] pgrange commented on #3074
I was actually referring to this later section of the build instructions: [Building individual LaTeX documents](https://github.com/input-output-hk/cardano-ledger#building-individual-latex-documents) my bad. Building that fails with the error mentioned in the issue.

Regarding what you are asking for, I'll let you know as soon as it answers me. For now I have this and... I guess it's doing stuff in

[2022-10-12 12:12] JaredCorduan commented on #3074
The LaTeX instructions say to do this:

[code]

(not `nix build`). Which one did you use?

[2022-10-12 12:37] pgrange commented on #3074
When reading the README, the first instruction after nix configuration that you can find is  `nix build`.

Here is a screenshot of section [Building the LaTeX documents and executable specifications](https://github.com/input-output-hk/cardano-ledger#building-the-latex-documents-and-executable-specifications). I hope this makes it more clear:

<img width="691" alt="Capture d’écran 2022-10-12 à 14

[2022-10-12 12:48] pgrange commented on #3074
OK, I mixed the both following sections in my comment earlier:
* Building the LaTeX documents and executable specifications
* Building individual LaTeX documents

Sorry for the confusion @JaredCorduan

[2022-10-12 13:37] JaredCorduan commented on #3074
I should have done a find-in-page for `nix build` myself to figure out the confusion. I see the problem now, thanks! Indeed, I get the same error about the flake file. thanks for reporting this!

[2022-10-12 14:33] teodanciu commented on #3074
I think there is a "-" missing from the [Building the LaTeX documents and executable specifications](https://github.com/input-output-hk/cardano-ledger#building-the-latex-documents-and-executable-specifications).
`nix build` assumes a flakes.nix file, whereas `nix-build` looks at  default.nix.
I'll update the instructions if this makes sense

[2022-10-12 14:38] pgrange opened #3076 "Cannot build individual LaTeX documents"
When trying to build [individual LaTeX documents](https://github.com/input-output-hk/cardano-ledger#building-individual-latex-documents) I get the following errors:

[code]

Related to _Originally posted by @JaredCorduan in https://github.com/input-output-hk/cardano-ledger/issues/3074#issuecomment-1276059386_

[2022-10-12 14:40] pgrange commented on #3076
# System configuration

I'm running macOS 12.6 on Intel

# Steps to reproduce

## Install nix

I installed nix according to [MacOS instructions](https://nixos.org/download.html#nix-install-macos):

[code]

## Setup nix configuration

In a new _nix ready_ terminal, I've setup nix configuration according to cardano-ledger [build instructions](https://github.com/input-output-hk/cardano-ledger#buildin

[2022-10-12 14:46] pgrange commented on #3074
Thanks @teodanciu
I tried but now I get a different error:

[code]

[2022-10-12 14:51] JaredCorduan commented on #3076
@pgrange what directory are you in?

[2022-10-12 14:54] teodanciu commented on #3074
@pgrange  Hard to tell what's causing the segfault, but just a long shot - could you try running `GC_DONT_GC=1 nix-build` ?

[2022-10-12 14:58] pgrange commented on #3076
Thanks for your quick feedback @JaredCorduan.

My bad, I was in the root directory of the project. I did not pay attention to the directories that were mentioned in the text.

I think something like that would be more absent-minded-proof for people like me ;)

[code]

[2022-10-12 15:14] pgrange commented on #3074
Thanks, `GC_DONT_GC=1 nix-build` is _doing stuff_ I'll keep you posted when it's finished but that's good sign 👍

[2022-10-12 15:25] pgrange commented on #3074
OK cool, so the compilation finished 👍 I agree with you @teodanciu, that would be a good idea to update the doc with `nix-build` and probably, maybe, say a word about this `GC_DONT_GC=1` option?

Thank you, anyway.

[2022-10-12 15:27] pgrange commented on #3074
~~So, I said the compilation finished, but I did not say that it succeeded ;)~~

~~So it failed with the following compilation errors. I don't know if it's ok or not on master (commit `fc4734c93d60158f2db04b416266268d0261c443`):~~

[code]

[2022-10-12 17:39] JaredCorduan commented on #3076
maybe

[code]

would make it clearer that this is instructions for more that just the shelley spec?

[2022-10-13 09:23] pgrange commented on #3076
That's probably better 👍 even maybe:

[code]

[2022-10-13 14:49] JaredCorduan opened #3082 "Script events when replaying the chain without validation"
When replaying the chain without validation, scripts do not get evaluated and therefore script events are not emitted.

It would be helpful, however, for folks to have the ability to turn on all events regardless of the validation flag. See #3052

[2022-10-13 14:54] JaredCorduan opened #3083 "Byron address CDDL spec"
There are some outstanding questions regarding the validity of the Byron CDDL specification of addresses. See  #2923.

[2022-10-13 19:43] zliu41 commented on #3082
Where is the validation flag? I wonder if this is something that can be set when constructing `ChainSyncClient` - if so that's probably all we need?

[2022-10-13 21:28] JaredCorduan commented on #3082
This is the main ledger API function, the one that applies a block:

https://github.com/input-output-hk/cardano-ledger/blob/db8bedc57b8e55857271a8449c9b6231f0346e5a/eras/shelley/impl/src/Cardano/Ledger/Shelley/API/Validation.hs#L87-L95

The `ApplySTSOpts` allows for some configuration:

https://github.com/input-output-hk/cardano-ledger/blob/db8bedc57b8e55857271a8449c9b6231f0346e5a/libs/small-steps

[2022-10-14 03:19] zliu41 commented on #3082
Thanks for the pointer. I'll look into it.

[2022-10-14 22:48] #3076 closed, assigned to nobody

[2022-10-14 23:36] lehins opened #3086 "Remove `BiMap` implementation"
Looks like `BiMap` is no longer used anyhere in the codebase.  Instead of continuing maintaining that data structure we should rip it out from `cardano-data` package. This will require removal of `BiMap` rules in the `set-algebra` package.

If it will ever happen that we need it again, we can refer to this ticket and bring it back.

[2022-10-17 14:43] JaredCorduan opened #3087 "GHCID instructions"
The ghcid instructions in the contributing document no longer work.

https://github.com/input-output-hk/cardano-ledger/blob/8884d921c8c3c6e216a659fca46caf729282058b/CONTRIBUTING.md?plain=1#L143

[2022-10-17 18:46] AndrewWestberg opened #3088 "Pool's Sigma value truncated before leader calculation"
Tagging @JaredCorduan for visibility.

I've gotten some reports from users of cncli leaderlogs that they have been inaccurate since the Babbage era. I have a few reports of both false-positive and false-negative leadership slots showing up.  It's infrequent and I haven't yet reproduced it on my own pools. I'm trying to ascertain whether cncli-leaderlogs have always been inaccurate, or whether this

[2022-10-17 21:52] JaredCorduan commented on #3088
thanks @AndrewWestberg , I'll take a close look soon.

---

`Praos` is using the same code for this as `TPraos`, so nothing has changed recently. You can see here that `Praos` is just reusing the same `checkLeaderNatValue` function:

https://github.com/input-output-hk/ouroboros-network/blob/b9959087bfd72837c02b8b33ba04175e4ff8b186/ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos

[2022-10-18 00:33] AndrewWestberg commented on #3088
@JaredCorduan Yes. that `foo` example is what I mean by force fromRational. Here is the commit where I forced it and then the display changed. note: *not a haskell dev.

https://github.com/AndrewWestberg/cardano-ledger/commit/db542956da2355523092136937f71e1fb1e15aec

[2022-10-18 12:25] JaredCorduan commented on #3088
thanks @AndrewWestberg , now I see what is going on! There's no truncation going on, it's just

This line:
[code]
probably isn't doing what you think it is doing. it's trying to turn a `Ratio Integer` into _something_ `Fractional` (which is a type class, not a type), and then convert that "fractional thing" into a string. Even though elsewhere you multiply `fromRational σ` by `c`, and it becomes c

[2022-10-18 12:28] AndrewWestberg commented on #3088
Thanks @JaredCorduan. I'll keep digging. Seems my issue is elsewhere.

[2022-10-18 12:28] #3088 closed, assigned to nobody

[2022-10-19 22:24] lehins commented on #3088
@AndrewWestberg This is a Haskell less known peculiarity.

If you look closer into the warning that GHC give's you on `show (-fromRational σ)` you will see something along the lines:
[code]

That is because type checker implies:
[code]
See "Default Numeric Types" section in [Numbers](https://www.haskell.org/tutorial/numbers.html) section of the Haskell 98 report.

That is why you see truncation an

[2022-10-20 20:06] #3067 closed, assigned to Soupstraw

[2022-10-21 11:54] #3086 closed, assigned to teodanciu

[2022-10-25 11:48] #3042 closed, assigned to teodanciu

[2022-10-26 09:50] pgrange commented on #3074
☝️ please ignore the former message. The problem was between the chair and the keyboard. Everything is compiling now.

Thank you for your help.

[2022-10-26 09:50] #3074 closed, assigned to nobody

[2022-10-26 18:46] JaredCorduan opened #3104 "Clean up protocol version switching"
The [HardForks](https://github.com/input-output-hk/cardano-ledger/blob/8817304c300dd60099054dd66d9a1ecbd33bfb3a/eras/shelley/impl/src/Cardano/Ledger/Shelley/HardForks.hs) and [SoftForks](https://github.com/input-output-hk/cardano-ledger/blob/8817304c300dd60099054dd66d9a1ecbd33bfb3a/eras/shelley/impl/src/Cardano/Ledger/Shelley/SoftForks.hs) modules contain all the occurrences in the code where we s

[2022-10-26 23:09] TimSheard commented on #3035
The pull request https://github.com/input-output-hk/cardano-ledger/pull/3068
expands on what is started here. Profiling the tickf rule, and also profiling the individual components that make it up.
From these components we can see where the time is spent.  Here is the output from the benchmark there. Note that the
benchmark labels try to convey what is being benchmark as well as what code that sni

[2022-10-26 23:13] TimSheard commented on #3035
The PR makes a few changes to speed things up. Most notably the calculatePoolDistr function, which was speeded up (timed in the benchmark) from 1.294 seconds (old version) to .5939 seconds (new version)

[2022-10-27 16:29] dnadales opened #3105 "Check UTxO HD assumption on size of values set needed when applying rules"
During the design of UTxO HD we made the following assumption

[code]

If the above assumption is wrong, then we need to redesign consensus and or ledger to work around this.

Furthermore, for future versions of UTxO HD: if a huge subset of the UTxO is required at slot ticks, then we will need to adapt our design.

[2022-10-27 16:30] dnadales commented on #3105
While discussing https://github.com/input-output-hk/cardano-ledger/issues/3013 @TimSheard, @Jasagredo, and I realized this assumption might not hold, so we need to check it.

[2022-10-27 16:32] javierdiaz72 commented on #3105
Hi, guys! I think you have the wrong Javier. :) Cheers!

On Thu, Oct 27, 2022 at 1:31 PM Damian Nadales ***@***.***>
wrote:

[2022-10-27 16:34] dnadales commented on #3013
@JaredCorduan we are *not* blocked by this, and we don't expect to be anytime soon. However, after @TimSheard has gone through the exploration phase, maybe it'd be a good idea to have a prototype interface that we could try to integrate with the consensus code. CC: @Jasagredo

[2022-10-27 16:46] dnadales commented on #3105
This was bound to happen at some point. You have no idea how many times I had to delete what I wrongly autocomplete. Sorry about that (maybe you want to formalize the assumption in Isabelle anyway :stuck_out_tongue: )

[2022-10-27 21:45] TimSheard commented on #3013
After our meeting today, it became clear that the current implementation needs nothing from the ledger side.  Consensus sends the ledger a filtered UTxO, the Ledger updates it and then send that version back to Consensus. There they take the before and after UTxO and compute the Diff.  At some future time it might speed things up if the Ledger sent back a Diff rather than the updated UTxO.  This s

[2022-10-28 08:08] dnadales commented on #3013
Thank you for adding your observations Tim.

[2022-10-28 13:57] aniketd commented on #3061
Starting with just `UTxOState` (across downstream repositories too)

[2022-10-28 20:45] zliu41 commented on #3082
@JaredCorduan @TimSheard It turns out I simply need to [use `Cardano.Api.FullValidation` instead of `QuickValidation`](https://github.com/input-output-hk/plutus-apps/commit/871cb903ab419c4bd2379d3cb09425439df24fbf#diff-f640ca1bb20617b12cc875898fa7cfe7b3880911abc0bbab40ba58eda0f1a5f3L105-R105) for the Plutus events to show up. I think this issue can be closed but you may want to expand the document

[2022-11-01 13:04] aniketd commented on #2999
If https://github.com/input-output-hk/cardano-ledger/pull/3023 addressed this issue, we can close it? @lehins I wonder if there are any more issues with `cabal` files, like `unused-packages`, etc. that might be worth addressing?

[2022-11-01 13:10] Soupstraw commented on #2999
#3024 did not add good descriptions to the packages, but that's something that requires a good knowledge of the codebase.

[2022-11-01 13:34] aniketd commented on #3061
`DState` and `PState` next.

[2022-11-01 13:59] lehins commented on #2999
@aniketd There might be. If you wanna go through and inspect all cabal files and find (and potentially fix) any oddities then it will definitely be great thing to do regardless if you find any issues there or not

[2022-11-01 17:42] JaredCorduan commented on #2988
A lot has changed since I made this issue, it is not really relevant anymore. We will still be doing master key rotation, but in a much different way.

[2022-11-01 17:42] #2988 closed, assigned to Soupstraw

[2022-11-01 17:58] JaredCorduan opened #3113 "track individual deposits"
# Overview

Individual deposits are not currently tracked by the ledger, only the values as given in the protocol parameters. This has several problems and needs to be addressed.

# What happens (today) if the deposit amounts are changed?

We currently collect deposits for:

- stake credential registrations
- stake pool registrations

The amount in Lovelace is  determined by two protocol parameter

[2022-11-02 13:40] #3087 closed, assigned to aniketd

[2022-11-02 15:49] Soupstraw opened #3117 "Make Shelley test examples concrete"
Currently the functions in [Shelley examples](https://github.com/input-output-hk/cardano-ledger/tree/master/eras/shelley/test-suite/test/Test/Cardano/Ledger/Shelley/Examples) are parametrized by era even though the only valid instantiation of these era parameters is `ShelleyEra C_Crypt`. We should make these signatures concrete so that we don't have to thread constraints through the test libraries

[2022-11-02 19:05] lehins commented on #3117
I think it would be better for all tests that  are expected to run in other eras to be converted into era agnostic with the help of lenses and era agnostic constructors

[2022-11-02 20:37] lehins commented on #3117
Let's hold off on that. I am afraid if we start moving everything in cardano-ledger-tests it will explode beyond comprehension

A better approach IMHO would be to make those tests era agnostic and make sure they are executed in test suites for all subsequent individual eras

[2022-11-02 21:43] ilap commented on #3113
Why just not add some value field in the ledger for their registrations (stake address, pool) based on the current parameters in some update before any registration parameters changes?

I meant the `StakeCreds` is a finite map where the key is the cred itself and the value is the slot it was registered.
It could be changed to some for both:
- from `StakeCreds -> Slot` to `StakeCreds -> (Slot , Coi

[2022-11-02 21:50] JaredCorduan commented on #3113
yes, if I understand you correctly, that is exactly what I am proposing (thought there is also the alternative of using the ptr map as a lookup).

It is not hard to implement. The worry is that there are a lot of registered stake credentials, and we worry a lot about the size in memory of the ledger state.

We abandoned that idea before the Shelley release.

[2022-11-02 22:09] ilap commented on #3113
Then some other type could be used for storeing deposits instead of the arbitrary length `Coin`.

As 2 bytes would be more than enough to store up to 65K in values, which is more than enough for describing any current and future pool and cred deposits.

Meaning if we would have 10m stake creds it would be only ~20MB overhead in the ledger state (linear to the nr. of stake credentials).

[2022-11-02 22:24] ilap commented on #3113
What was the reason? As it's a quite good idea for incentivizing the non-performing pools to be deregistered.
As currently, there are no real incentives for deregistering a pool.
Ofc, if the decay function as a function of time/epoch gives some high pressure to the operators. Meaning when it's not linear but some `1/(x-a)^b` like or similar, like a sudden drop in deposit initially and slow decay a

[2022-11-02 22:28] JaredCorduan commented on #3113
We wouldn't store it as an arbitrary length integer, even `Coins` are not stored this way in memory, don't worry :)

In Haskell, a Word (eight bytes) is the smallest unit of space that you can take up. But you also have to consider the other overhead of adding it to the existing data structures (again, knowing that a Word is as small as it gets).

[2022-11-02 22:32] JaredCorduan commented on #3113
What do you mean? There is even more incentive without decay, as you get the whole thing back. I guess you mean they are incentivized to do it quickly? It's not that high anyway, I don't know how much it would matter.

The reasons were: 1) a lot of extra complication, 2) it assumed a lot of economic assumptions that may or may not even be true, such as the ability to price things at infinity (whic

[2022-11-02 23:01] ilap commented on #3113
Sorry, I was confusing. I meant, they can keep their non-performing pool for long as they can back the same deposit independently of the deregistration time.  So, no incentives to deregister it as soon as possible as no pressure.

While, if they're losing some amount by the time they're incentivised to deregister it sooner than later.

Cool, I have no knowledge of Haskell internals.

Yeah, makes s

[2022-11-03 13:11] ThatGuyLLC opened #3119 "Repo Preparation for MBO"
This repo has been marked as core tech and is part of initiative of repo preparation, part of this includes adding needed missing documentation.
This repo in particular needs:
-Include the Standard Code of Conduct
-Identify the Core Maintainers

[2022-11-04 02:27] zliu41 opened #3122 "Add script input to the error type in `evaluateTransactionExecutionUnits`"
When building a transaction using cardano api or cli, `Cardano.Ledger.Alonzo.Tools.evaluateTransactionExecutionUnits` is called to evaluate the plutus scripts in the transaction. To make it easier to debug script failures, the input to the Plutus script (Datum, Redeemer, ScriptContext) should be included in the error (`TransactionScriptFailure`), so that users can reproduce and debug the failure.

[2022-11-04 03:02] zliu41 opened #3123 "Update ledger spec for Plutus V3"
Plutus V3 will [most likely include new constructs](https://input-output.atlassian.net/browse/PLT-1003) in Plutus Core for constructing product and sum types. This means in the ledger API of Plutus V3, the ScriptContext parameter will be a `UPLC.Term` rather than `Data`. By doing so, scripts won't need to pay for the cost of converting `Data` into a `UPLC.Term` representing ScriptContext, which cu

[2022-11-04 03:05] zliu41 opened #3124 "Update ledger implementation for Plutus V3"
See #3123 for context.

There are two places in the ledger implementation that run plutus scripts: `runScript` and `evaluateTransactionExecutionUnits`. Both need to be updated to use `UPLC.Term` instead of `Data` as `ScriptContext` for Plutus V3.

[2022-11-04 12:27] Soupstraw commented on #3117
There's also the smaller sub-task of looking at the Shelley tests and seeing what cannot be generalized and make that concrete. I think that's something that could be done without disrupting the rest of the codebase too much.

[2022-11-08 22:38] lehins opened #3130 "Get rid of redundant accessor functions"
Every era defines a whole bunch of accessor functions eg, `inputs'`, `outputs'`, etc. which are redundant and should be removed, while all use sites should be switched to corresponding lenses. In case of ShelleyMA it even defines a pattern synonym. That one should be removed as well

[2022-11-09 13:58] aniketd commented on #3130
This part has been addressed in #3126

[2022-11-09 14:29] ghost opened #3131 "Provide faster migration from old serialised ledger state when format changes"
# Context

- The ledger state is periodically check-pointed on disk by the ChainDB component of consensus in order to provide faster boot of cardano-node: Reading and verifying serialised ledger state, even though it's > 2GB, is still several orders of magnitude faster than replaying the whole chain (about 2-3h)
- When the ledger state structure changes, there is a need to migrate this old format

[2022-11-09 21:00] JaredCorduan commented on #3034
We have a great stop-gap measure for this issue, thanks to @nfrisby . The idea is in this branch: https://github.com/input-output-hk/cardano-ledger/tree/nfrisby/share-tickf-pooldistr-calculation Someone from the ledger team will see the idea through to completion (Nick may have done all the work already, we just need to be careful).

[2022-11-09 21:08] JaredCorduan opened #3132 "earlier thunk for the per-stake-pool stake distribution"
This is a stop-gap measure for the problem described in #3034.

Create the thunk for the `calculatePoolDistr` when the corresponding snapshot is created (when crossing the previous epoch boundary), not in the `NEWEPOCH` rule. This way, when the consensus layer forecasts across the boundary multiple times, the expensive computation only happens once per epoch boundary per node per fork.

[2022-11-09 21:09] JaredCorduan commented on #3132
@nfrisby implemented the idea here: https://github.com/input-output-hk/cardano-ledger/tree/nfrisby/share-tickf-pooldistr-calculation

Nick may have done all the work already, we just need to see the idea through to completion.

[2022-11-10 07:50] ghost commented on #3131
Just thought this approach could be prototyped relatively easily by defining a new property in the `LedgerState` that's trivial to know in advance and depends on the whole chain: The number of transactions processed so far in the ledger.

[2022-11-15 02:35] #3122 closed, assigned to aniketd

[2022-11-16 11:36] yogeshsajanikar opened #3144 "Add no-thunk tests for cardano ledger eras translations"
As a part of running consensus tests with no-thunks flag turned on, few thunks were found hanging onto TVars. Some of these were traced to ledger code handling translations for eras. Specifically, lazy functor mapping for `UTxO` was the problem. If a no-thunk tests are added to ledger code, it would be easier for a library developer

- to test and check provenance of a thunk, which usually takes a

[2022-11-16 13:10] JaredCorduan commented on #3119
resolved by #3139

[2022-11-16 13:10] #3119 closed, assigned to nobody

[2022-11-16 17:08] nfrisby commented on #3132
I'm not sure where else to write this, so I'm putting it here (at least for now).

Jared and I had a called yesterday on this topic. Here is my summary:

- Context: the `TICK` rule actually ticks the full ledger state forward through time. The `TICKF` rule instead only ticks a partial "`LedgerView`" forward through time, but it's currently implemented by ticking _some_ of the actual ledger state f

[2022-11-16 17:23] JaredCorduan commented on #3132
Thank you for the excellent notes @nfrisby , I agree with it all.

We definitely still need to determine why `TICKF` is slow (outside of `calculatePoolDistr`).

One thing we can do to convince ourselves that the new minimal version of `TICKF` is acceptable it to write a property test that `getLedgerView . MinimalTICKF == getLedgerView . TICK`.

[2022-11-18 10:42] koslambrou commented on #3043
@JaredCorduan Is this something we can work on so that we can be sure it's going into the next HF?

[2022-11-18 12:40] JaredCorduan commented on #3043
yes, absolutely, thank you! I _think_ it should be an easy fix.

I suspect that this bug has never actually be exercised, though y'all might know better than me. In circumstances where a bug requires a hard fork to fix, and the fix is extremely localized, I recommend using the [HardFork](https://github.com/input-output-hk/cardano-ledger/blob/8b6f8e1a75034ca66fd66a39d437252eec927d71/eras/shelley/im

[2022-11-18 20:35] JaredCorduan opened #3145 "conway transaction body"
### Conway TxBody

Starting from the Babbage era transaction body, we need to:

deprecate

- protocol parameter updates
- MIR certificates

add

- a sequence of governance actions
- a sequence of votes

---

### Governance Actions

Every governance action will include the following:

* a deposit amount (recorded since the amount is an updatable protocol parameter)
* a reward address to receive the

[2022-11-18 20:50] JaredCorduan opened #3146 "new Conway protocol parameters"
new Conway protocol parameters:

- all the governance voting thresholds
- constitutional committee term limits
- governance action expiration
- governance action deposit (govDeposit)
- DRep deposit amount (drepDeposit)
- DRep activity period (drepActivity)
- minimal constitutional committee size
- maximum term limit (in epochs) of the constitutional committee

[2022-11-18 21:01] JaredCorduan opened #3147 "replace PPUP transition"
### Tally Rule

The `PPUP` trasition will be re-written and moved out of the `UTxO` transition and into the `LEDGER` transition. It should probably also be given a new name, perhaps `TALLY`.

It will:

-  process the governance actions
    -  in particular, it must do any sanity checking on the actions, such as the tx/block size checks currently done in `NEWPP`.
-  process the votes
-  stage actio

[2022-11-18 21:06] JaredCorduan opened #3148 "Updated NEWEPOCH transition"
We will modify the `NEWEPOCH` transition.

- The `MIR` sub-transition will be removed.
- A new `ENACTMENT` transition will be called immediately after the `EPOCH` transition. This rule will enact governance actions that have previously been ratified.
- The `EPOCH` transition will no longer call the `NEWPP` sub-transition (or compute whether quorum is met on the PPUP state).

- [x] Remove `MIR` tra

[2022-11-18 21:07] JaredCorduan opened #3149 "create properties of the goverance system"
For the purposes of property testing, we need to state as many properties about the new governance system as we can.

[2022-11-18 21:08] JaredCorduan opened #3150 "Write targeted property tests"
Write property tests for #3149 . These should probably be targeted directly to the new transition systems.

(Akin to the UTXOW property tests that were written for Alonzo and extended to Babbage).

[2022-11-18 21:09] JaredCorduan opened #3151 "Constraint based generators for new ledger era"
Write constraint based generators for the ledger state (`NewEpochState`) and a transaction for the given ledger state. Rewrite our property tests against these new generators, but not as a trace.

[2022-11-18 21:10] JaredCorduan opened #3152 "write goverance unit tests and examples for conway features"
Here is a non-comprehensive list of unit tests we might wish for conway:

- [x] if you submit a governance action, it is add to the governance state as the latest action
- [x] you can add a governance action and vote on the action at the same time. or vote on a different existing action.
- [x] if a CC/DRep/SPO votes on a governance action, their vote appears in the governance state
- [x] if a stak

[2022-11-18 21:11] JaredCorduan opened #3153 "Updated preservation of ADA"
The deposit amount in the governance action will need to be added to the "consumed == produced" check

[2022-11-18 21:13] JaredCorduan opened #3154 "conway CDDL spec"
Adapt the Babbage ledger era CDDL spec to the new features:

* governance actions
* votes
* no MIR certificates

[2022-11-18 21:13] JaredCorduan opened #3155 "property tests for conway CDDL spec"

[2022-11-18 21:15] JaredCorduan opened #3156 "Audit/Compare the Conway spec to the implementation"
Audit that the conway formal spec matches the implementation. (it would be better to have conformance tests against an executable model ~~, but the new agda model will probably not be fully executable in time.~~)

-----

#### Blocks branch

##### Level 1

- [ ] `DELEG`
- [ ] `GOVCERT`
- [ ] `POOL`

##### Level 2

- [ ] `CERT`
- [ ] `CERTS`
- [ ] `GOV`

##### Level 3

- [ ] `UTXOS`
- [ ] `UTXO` (ba

[2022-11-18 21:17] JaredCorduan opened #3157 "Conway Consensus Examples"
Consensus uses examples from the ledger for testing. In particular, the type `ShelleyLedgerExamples` captures all the examples that are needed for each era. We need Conway examples.

For example, the Alonzo examples are [here](https://github.com/input-output-hk/cardano-ledger/blob/73f9c089981e587a0b2698ef6ad65d75fb41a85f/eras/alonzo/test-suite/src/Test/Cardano/Ledger/Alonzo/Examples/Consensus.hs).

[2022-11-18 21:17] JaredCorduan opened #3158 "Conway serialization tests"
Write round-trip property tests for the new transaction body serialization.

[2022-11-18 21:18] JaredCorduan opened #3159 "Conway era mapping"
The era mapping needs to be written with the new transitions in mind. See #3147 and #3148.

[2022-11-18 21:23] JaredCorduan opened #3160 "Conway translate era"
The translate era instance for Conway needs to be adapted to the new transaction body.

Notable details:

- [x] we should reject transactions with MIR certs. this will probably just be done automatically by the deserializer, making use of the versioned CBOR.
- [x] ~translate pointer addresses to enterprise addresses. See this [discussion](https://github.com/cardano-foundation/CIPs/pull/374/files#r

[2022-11-18 21:25] JaredCorduan opened #3161 "prevent ptr address from being created in conway"
Starting in the conway ledger era, do not allow the creation of transaction outputs that contain pointer addresses. Implementation options include: 1) adding a new predicate failure, perhaps the `UTXO` rule, 2) use the version CBOR to prevent pointer address from being deserialized starting in major protocol version 9.

[2022-11-18 21:34] ltouro commented on #3156
There is a link to conway formal spec?

[2022-11-18 22:09] JaredCorduan commented on #3156
great question, there's not yet, unfortunately. [CIP-1694](https://github.com/cardano-foundation/CIPs/pull/380) is the closest thing that we have so far. See [this section](https://github.com/JaredCorduan/CIPs/blob/897f0a1ea6e3ceebbc00c61a8d18c36f7c155212/CIP-1694/README.md#initial-implementation-stage) for a loose understanding of what is in scope for conway.

Our goal for conway is to do somethi

[2022-11-23 01:24] #3014 closed, assigned to lehins

[2022-11-23 19:52] lehins opened #3166 "Implementation of `AlonzoTxAuxData` does not roundtrip serialization"
Current Haskell representation of `AlonzoTxAuxData` does not match the representation on the wire.
[code]
In particular all scripts in the `scripts'` field are partitioned, i.e. all timelock scripts are grouped together, all PlutusV1 scripts are grouped together and same PlutusV2 are grouped together, regardless of the order they were originally constructed in the Haskell type. The consequence of

[2022-11-23 21:08] lehins commented on #3166
On a second thought this is a more general type that is forward compatible with other upcoming language versions:

[code]

I've switched it in the #3165

[2022-11-28 18:00] lehins opened #3171 "Split cardano-shelley-ma into two Allegra and Mary"
Current implementation of ShelleyMA is unlike all other eras and is quite awkward and sometimes gets into way of implementing new features.

The plan is to:

* [x] - (done in #3175) Split `cardano-ledger-shelley-ma` into `cardano-ledger-allegra` and `cardano-ledger-mary`
  * Keep `cardano-ledger-shelley-ma` for a while with some deprecations instructions how to transition to new packages. Breakage

[2022-11-28 22:20] #3104 closed, assigned to teodanciu

[2022-11-29 16:56] koslambrou opened #3173 "Host cardano-ledger-api Haddock documentation"
As the `cardano-ledger-api` Haskell package

* will eventually become THE API for working with transactions for DApp developers

* will contain the actual user documentation on how to use it in the form of Haddock documentation

We need the Haddock documentation to be hosted somewhere. In the long run, this is probably something that needs to be handled by CHaP. But in the short/medium term, we ne

[2022-11-29 17:36] koslambrou commented on #3173
Also, an additional nice feature to have would be to be provide a rendered Haddock in every PR.
This is similar to what readthedocs does. For example: https://cardano-ledger--3165.org.readthedocs.build/en/3165/

This gives us the capability to easily view the rendered view of Haddock documentation in every PR.

Don't know if that's possible with Github pages though.

[2022-11-30 08:56] #3166 closed, assigned to lehins